<div class="row mt-4">
    <div class="col-md-2 pl-0">
        <div class="dropdown-multiple">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-sm" data-target="#" href="#">
                <span class="dd-custom font-bold">Filters <span class="text-custom-dangerlight">(Lagos)</span> </span><i class="fas fa-ellipsis-v dd-custom ml-3"></i>
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu">
                    <a href="javascript:void(0)">City</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/pink.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Lagos
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/yellow.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Kanu
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/blue.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Abuja
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city4
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city5
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city6
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city7
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="javascript:void(0)">Polling Units</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/pink.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Lagos
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/yellow.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Kanu
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/blue.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Abuja
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city4
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city5
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city6
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city7
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="javascript:void(0)">Status</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a tabindex="-1" class="btn btn-outline-success btn-sm" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/pink.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Online
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" class="btn btn-outline-danger btn-sm" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/yellow.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Offline
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="javascript:void(0)">Devices</a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                  <span class="input-group-text" id="basic-addon2"><i class="fa fa-search text-custom-danger"></i></span>
                                </div>
                              </div>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                DashCam
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                Mobile GPS
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                Vehicle tracker
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                Handled Tracker
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                               Other
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="col-md-5 text-right">
        <input
            type="checkbox"
            id="Location5"
            [(ngModel)]="Location"
            (change)="ActivitiesToLocation()"
            class="visually-hidden"
        />
        <div class="dropdown p-1 text-center">
            <label for="Location5">
                <span class="text-custom-danger font-bold"><b>LOCATION</b> </span>
            </label>
        </div>
    </div>
    <div class="col-md-5 text-right">
        <input
            type="checkbox"
            id="Activities5"
            [(ngModel)]="Activities"
            (change)="LocationToActivites()"
            class="visually-hidden"
        />
        <div class="dropdown p-1 text-center">
            <label for="Activities5">
                <span class="text-custom-danger font-bold"><b>ACTIVITES</b> </span>
            </label>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-8 pl-0" [hidden]="!Location">
        <div class="row">
            <div class="col-md-2 pr-0">
                <input
                    type="checkbox"
                    id="GIS5"
                    [(ngModel)]="GISMAP"
                    (change)="MapTypeGoogleToGIS()"
                    class="visually-hidden"
                />
                <div class="dropdown pb-2 pt-4 text-center">
                    <label for="GIS5">
                        <span class="election-category-title"><b>GIS</b> </span>
                    </label>
                </div>
                <button class="btn btn-sm btn block bg-custom-danger text-white">
                    Filter <i class="fas fa-sm fa-ellipsis-v text-white ml-2"></i>
                </button>
            </div>
            <div class="col-md-2 pr-0">
                <input
                    type="checkbox"
                    id="MAP5"
                    [(ngModel)]="GOOGLEMAP"
                    (change)="MapTypeGISToGoogle()"
                    class="visually-hidden"
                />
                <div class="dropdown pb-2 pt-4 text-center">
                    <label for="MAP5">
                        <span class="election-category-title"><b>GOOGLE MAP </b> </span>
                    </label>
                </div>
            </div>
            <div class="col-md-3 pr-0">
                <input type="checkbox" id="Detail" class="visually-hidden" />
                <div class="dropdown pb-2 pt-4 text-center">
                    <label for="Detail">
                        <span class="election-category-title"
                            ><b>Detail </b>
                            <i class="fas fa-external-link-alt text-custom-danger ml-3"></i>
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-md-2 text-right mt-7 pr-0">
                <h6 class="text-custom-primary">Satellite</h6>
            </div>
            <div class="col-md-1 mt-7 pr-0">
                <div class="switch">
                    <input id="switch-1" type="checkbox" [(ngModel)]="satteliteSwitch" class="switch-input" />
                    <label for="switch-1" class="switch-label">Switch</label>
                </div>
            </div>
            <div class="col-md-1 text-right mt-7 pr-0">
                <h6 class="text-custom-primary">Map</h6>
            </div>
            <div class="col-md-1 mt-7 pl-2">
                <div class="switch">
                    <input id="switch-2" type="checkbox" [(ngModel)]="mapSwitch" class="switch-input" />
                    <label for="switch-2" class="switch-label">Switch</label>
                </div>
            </div>
        </div>
        <div class="" [hidden]="!GOOGLEMAP">
            <div id="map5" class="map-div"></div>
        </div>
        <app-esri-map
            [hidden]="!GISMAP"
            [center]="mapCenter"
            [basemap]="basemapType"
            [zoom]="mapZoomLevel"
            (mapLoadedEvent)="mapLoadedEvent($event)"
        >
        </app-esri-map>
    </div>
    <div class="col-md-8 pl-0" [hidden]="!Activities">
        <div class="row">
            <div class="col-md-3">
                <div class="card pt-9 pb-10 pl-3 pr-3 bg-activities-card1 mb-2">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <img src="/assets/Dashboard/area_chart.png" width="15" />                            
                        </div>
                        <div class="col-md-12">
                            <h6 class="text-custom-primary fs-11 pt-2">50,000</h6>
                        </div>
                        <div class="col-md-12">
                            <h6 class="fs-07">Total Field Agents</h6>
                        </div>
                    </div>
                </div>
                <div class="card pt-9 pb-10 pl-3 pr-3 bg-activities-card1 mb-2">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <img src="/assets/Dashboard/blue.png" width="15" />                            
                        </div>
                        <div class="col-md-12">
                            <h6 class="text-custom-primary fs-11 pt-2">35,000</h6>
                        </div>
                        <div class="col-md-12">
                            <h6 class="fs-07">Online Agents</h6>
                        </div>
                    </div>
                </div>
                <div class="card pt-9 pb-10 pl-3 pr-3 bg-activities-card1 mb-2">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <img src="/assets/Dashboard/pink.png" width="15" />                            
                        </div>
                        <div class="col-md-12">
                            <h6 class="text-custom-primary fs-11 pt-2">20,000</h6>
                        </div>
                        <div class="col-md-12">
                            <h6 class="fs-07">Offline Agents</h6>
                        </div>
                    </div>
                </div>
                <div class="card pt-9 pb-10 pl-3 pr-3 bg-activities-card1 mb-2">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <img src="/assets/Dashboard/area_chart.png" width="15" />                            
                        </div>
                        <div class="col-md-12">
                            <h6 class="text-custom-primary fs-11 pt-2">30,000</h6>
                        </div>
                        <div class="col-md-12">
                            <h6 class="fs-07">Agents At Polling Units</h6>
                        </div>
                    </div>
                </div>
                <div class="card pt-9 pb-10 pl-3 pr-3 bg-activities-card1 mb-2">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <img src="/assets/Dashboard/pink.png" width="15" />                            
                        </div>
                        <div class="col-md-12">
                            <h6 class="text-custom-primary fs-11 pt-2">25,000</h6>
                        </div>
                        <div class="col-md-12">
                            <h6 class="fs-07">Agents Not Available at Polling Station</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 pl-0">
                <div class="card bg-activities-card2 pt-3 pb-3">
                    <div class="">
                        <div class="col-md-12 custom-border-primary">
                            <h6 class="text-custom-activities">William</h6>
                            <h6 class="text-custom-activities1 fs-07">Agent ID: MAK/0987</h6>
                        </div>
                        <div class="col-md-12 pb-2 text-center">
                            <img src="/assets/Dashboard/Ellipse.png" />
                        </div>
                        <div class="col-md-10">
                            <button class="btn btn-sm btn-primary pl-7 pr-7">Online</button>
                            <h6 class="fs-11">Polling Agent Role: <span class="ml-6 fs-11">Polling Officer</span></h6>
                            <h6 class="fs-11">
                                Device Available:
                                <span class="ml-6 fs-09">
                                    Mobile GPS
                                </span>
                            </h6>
                        </div>
                        <div class="col-md-2 text-right">
                            <svg
                                width="22"
                                height="23"
                                viewBox="0 0 22 23"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <rect y="0.125" width="22" height="22" rx="11" fill="#4DBCBB" />
                            </svg>
                        </div>
                        <div class="col-md-6 bg-activities-card3 custom-border-primary">
                            <div class="col-md-2 mt-6">
                                <i class="fa fa-solid fa-signal text-custom-primary"></i>
                            </div>
                            <div class="col-md-10 mt-5 pl-2 mb-1">
                                <h6 class="text-custom-activities fs-09 mb-1">Polling Unit</h6>
                                <h6 class="text-custom-primary fs-07">P4-1234</h6>
                            </div>
                        </div>
                        <div class="col-md-6 bg-activities-card3 custom-border-primary">
                            <div class="col-md-2 mt-6">
                                <i class="fa fa-calendar text-custom-primary"></i>
                            </div>
                            <div class="col-md-10 pl-2 mb-1">
                                <h6 class="text-custom-activities fs-09 mb-1">Election Material Collected</h6>
                                <h6 class="text-custom-primary fs-07">09:30AM</h6>
                            </div>
                        </div>
                        <div class="col-md-12 bg-activities-card3">
                            <h6 class="font-bold mt-5 mb-4">General Information</h6>
                        </div>
                        <div class="col-md-8 bg-activities-card3">
                            <h6 class="fs-09">Duty Hours</h6>
                        </div>
                        <div class="col-md-4 bg-activities-card3">
                            <h6 class="fs-09">8</h6>
                        </div>
                        <div class="col-md-8 bg-activities-card3">
                            <h6 class="fs-09">Break Time</h6>
                        </div>
                        <div class="col-md-4 bg-activities-card3">
                            <h6 class="fs-09">1</h6>
                        </div>
                        <div class="col-md-8 bg-activities-card3">
                            <h6 class="fs-09">Alloted Devices</h6>
                        </div>
                        <div class="col-md-4 bg-activities-card3">
                            <h6 class="fs-09">3</h6>
                        </div>
                        <div class="col-md-8 bg-activities-card3">
                            <h6 class="fs-09">Aloted Material</h6>
                        </div>
                        <div class="col-md-4 bg-activities-card3">
                            <h6 class="fs-09">4</h6>
                        </div>
                        <div class="col-md-12 bg-activities-card4 custom-border-primary">
                            <h6 class="font-bold mt-5 mb-4">Working Activity</h6>
                        </div>
                        <div class="col-md-12 bg-activities-card4">
                            <div class="col-md-9 pl-0 pr-0">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="workingActivity_id1"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="workingActivity_id1" class="checkbox-label">
                                    <span class="fs-09">At Polling Unit </span>
                                </label>
                            </div>
                            <div class="col-md-3 pl-0 pr-0 mt-2">
                                <h6 class="fs-09">07:30 AM</h6>
                            </div>
                            <div class="col-md-12 ml-7">
                                <span class="fs-08 font-bold">p-1234, Benin City</span>
                            </div>
                            <div class="col-md-9 pl-0 pr-0">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="workingActivity_id2"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="workingActivity_id2" class="checkbox-label">
                                    <span class="fs-09">Break </span>
                                </label>
                            </div>
                            <div class="col-md-3 pl-0 pr-0 mt-2">
                                <h6 class="fs-09">08:30 AM</h6>
                            </div>
                            <div class="col-md-12 ml-7">
                                <span class="fs-08 font-bold">Benin City</span>
                            </div>
                            <div class="col-md-9 pl-0 pr-0">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="workingActivity_id3"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="workingActivity_id3" class="checkbox-label">
                                    <span class="fs-09">Ballots Collecting </span>
                                </label>
                            </div>
                            <div class="col-md-3 pl-0 pr-0 mt-2">
                                <h6 class="fs-09">09:30 AM</h6>
                            </div>
                            <div class="col-md-12 ml-7">
                                <span class="fs-08 font-bold">Town 1 Benin City</span>
                            </div>
                            <div class="col-md-9 pl-0 pr-0">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="workingActivity_id4"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="workingActivity_id4" class="checkbox-label">
                                    <span class="fs-09">Return At Polling Unit </span>
                                </label>
                            </div>
                            <div class="col-md-3 pl-0 pr-0 mt-2">
                                <h6 class="fs-09">09:50 AM</h6>
                            </div>
                            <div class="col-md-12 ml-7">
                                <span class="fs-08 font-bold">P-1234, Benin City</span>
                            </div>
                            <div class="col-md-9 pl-0 pr-0">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="workingActivity_id5"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="workingActivity_id5" class="checkbox-label">
                                    <span class="fs-09">Ballot Submission </span>
                                </label>
                            </div>
                            <div class="col-md-3 pl-0 pr-0 mt-2">
                                <h6 class="fs-09">11:11 AM</h6>
                            </div>
                            <div class="col-md-12 ml-7">
                                <span class="fs-08 font-bold">Street 0 Town ABC, Benin City</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4 pl-0 pr-0 mt-6">
        <div class="card">
            <div class="card-body p-2"> 
                <div class="row mb-4 ml-0">
                    <div class="col-5 pl-0 pr-1">
                        <div class="text-center dropdown pt-2 text-custom-danger mb-2">
                            <span class="election-category-title text-uppercase"
                                >AGENTS<i class="fas fa-sm fa-external-link-alt ml-1 text-custom-danger"></i
                            ></span>
                        </div>
                    </div>
                    <div class="col pl-1 pr-1">
                        <button class="btn btn-sm btn-block btn-outline-success br-25 p-2">Online</button>
                    </div>
                    <div class="col pl-1">
                        <button class="btn btn-sm btn-block btn-outline-danger br-25 p-2">Offline</button>
                    </div>
                </div>
                <div class="row pr-4 pl-3 pt-0 pb-0 card-with-scrol">
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="60" src="/assets/Dashboard/Ellipse.png" />
                            <img class="br-50 custom-img-icon" width="12" src="/assets/Dashboard/blue.png">
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-primary fs-07 mb-1">Maji Williams
                                </h6>
                            </div>
                            <div class="col-md-6 pl-0">
                                <h6 class="text-custom-grey fs-07 mb-1 custom-political-party">
                                    POLL: LA/IK/10039
                                </h6>
                            </div>
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-danger text-center fs-06 mb-1"> Yesterday 10:30 AM </h6>
                            </div>  
                            <div class="col-md-6 text-center pl-0">
                                <h6 class="text-custom-grey text-center fs-06 mb-1">Timestamp: 20 min
                                </h6>
                            </div> 
                            <div class="col-md-12 text-center">
                                <h6 class="text-custom-primary fs-10">
                                    <i class="fa fa-phone mr-7 text-custom-primary"></i> 
                                    <i class="far fa-comment-dots fa-sm mr-7 text-custom-primary"></i> 
                                    <i class="fa fa-envelope mr-7 text-custom-primary"></i> 
                                </h6>
                            </div>                             
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <img width="40" class="custom-location-img bg-custom-accident" src="/assets/Dashboard/chatvector.png" />
                        </div>
                    </div> 
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="60" src="/assets/Dashboard/Ellipse.png" />
                            <img class="br-50 custom-img-icon" width="12" src="/assets/Dashboard/red.png">
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-primary fs-07 mb-1">Maji Williams
                                </h6>
                            </div>
                            <div class="col-md-6 pl-0">
                                <h6 class="text-custom-grey fs-07 mb-1 custom-political-party">
                                    POLL: LA/IK/10039
                                </h6>
                            </div>
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-danger text-center fs-06 mb-1"> Yesterday 10:30 AM </h6>
                            </div>  
                            <div class="col-md-6 text-center pl-0">
                                <h6 class="text-custom-grey text-center fs-06 mb-1">Timestamp: 20 min
                                </h6>
                            </div> 
                            <div class="col-md-12 text-center">
                                <h6 class="text-custom-primary fs-10">
                                    <i class="fa fa-phone mr-7 text-custom-primary"></i> 
                                    <i class="far fa-comment-dots fa-sm mr-7 text-custom-primary"></i> 
                                    <i class="fa fa-envelope mr-7 text-custom-primary"></i> 
                                </h6>
                            </div>                             
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <img width="40" class="custom-location-img bg-custom-accident" src="/assets/Dashboard/chatvector.png" />
                        </div>
                    </div> 
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="60" src="/assets/Dashboard/Ellipse.png" />
                            <img class="br-50 custom-img-icon" width="12" src="/assets/Dashboard/yellow.png">
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-primary fs-07 mb-1">Maji Williams
                                </h6>
                            </div>
                            <div class="col-md-6 pl-0">
                                <h6 class="text-custom-grey fs-07 mb-1 custom-political-party">
                                    POLL: LA/IK/10039
                                </h6>
                            </div>
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-danger text-center fs-06 mb-1"> Yesterday 10:30 AM </h6>
                            </div>  
                            <div class="col-md-6 text-center pl-0">
                                <h6 class="text-custom-grey text-center fs-06 mb-1">Timestamp: 20 min
                                </h6>
                            </div> 
                            <div class="col-md-12 text-center">
                                <h6 class="text-custom-primary fs-10">
                                    <i class="fa fa-phone mr-7 text-custom-primary"></i> 
                                    <i class="far fa-comment-dots fa-sm mr-7 text-custom-primary"></i> 
                                    <i class="fa fa-envelope mr-7 text-custom-primary"></i> 
                                </h6>
                            </div>                             
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <img width="40" class="custom-location-img bg-custom-accident" src="/assets/Dashboard/chatvector.png" />
                        </div>
                    </div> 
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="60" src="/assets/Dashboard/Ellipse.png" />
                            <img class="br-50 custom-img-icon" width="12" src="/assets/Dashboard/blue.png">
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-primary fs-07 mb-1">Maji Williams
                                </h6>
                            </div>
                            <div class="col-md-6 pl-0">
                                <h6 class="text-custom-grey fs-07 mb-1 custom-political-party">
                                    POLL: LA/IK/10039
                                </h6>
                            </div>
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-danger text-center fs-06 mb-1"> Yesterday 10:30 AM </h6>
                            </div>  
                            <div class="col-md-6 text-center pl-0">
                                <h6 class="text-custom-grey text-center fs-06 mb-1">Timestamp: 20 min
                                </h6>
                            </div> 
                            <div class="col-md-12 text-center">
                                <h6 class="text-custom-primary fs-10">
                                    <i class="fa fa-phone mr-7 text-custom-primary"></i> 
                                    <i class="far fa-comment-dots fa-sm mr-7 text-custom-primary"></i> 
                                    <i class="fa fa-envelope mr-7 text-custom-primary"></i> 
                                </h6>
                            </div>                             
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <img width="40" class="custom-location-img bg-custom-accident" src="/assets/Dashboard/chatvector.png" />
                        </div>
                    </div> 
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="60" src="/assets/Dashboard/Ellipse.png" />
                            <img class="br-50 custom-img-icon" width="12" src="/assets/Dashboard/red.png">
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-primary fs-07 mb-1">Maji Williams
                                </h6>
                            </div>
                            <div class="col-md-6 pl-0">
                                <h6 class="text-custom-grey fs-07 mb-1 custom-political-party">
                                    POLL: LA/IK/10039
                                </h6>
                            </div>
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-danger text-center fs-06 mb-1"> Yesterday 10:30 AM </h6>
                            </div>  
                            <div class="col-md-6 text-center pl-0">
                                <h6 class="text-custom-grey text-center fs-06 mb-1">Timestamp: 20 min
                                </h6>
                            </div> 
                            <div class="col-md-12 text-center">
                                <h6 class="text-custom-primary fs-10">
                                    <i class="fa fa-phone mr-7 text-custom-primary"></i> 
                                    <i class="far fa-comment-dots fa-sm mr-7 text-custom-primary"></i> 
                                    <i class="fa fa-envelope mr-7 text-custom-primary"></i> 
                                </h6>
                            </div>                             
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <img width="40" class="custom-location-img bg-custom-accident" src="/assets/Dashboard/chatvector.png" />
                        </div>
                    </div> 
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="60" src="/assets/Dashboard/Ellipse.png" />
                            <img class="br-50 custom-img-icon" width="12" src="/assets/Dashboard/yellow.png">
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-primary fs-07 mb-1">Maji Williams
                                </h6>
                            </div>
                            <div class="col-md-6 pl-0">
                                <h6 class="text-custom-grey fs-07 mb-1 custom-political-party">
                                    POLL: LA/IK/10039
                                </h6>
                            </div>
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-danger text-center fs-06 mb-1"> Yesterday 10:30 AM </h6>
                            </div>  
                            <div class="col-md-6 text-center pl-0">
                                <h6 class="text-custom-grey text-center fs-06 mb-1">Timestamp: 20 min
                                </h6>
                            </div> 
                            <div class="col-md-12 text-center">
                                <h6 class="text-custom-primary fs-10">
                                    <i class="fa fa-phone mr-7 text-custom-primary"></i> 
                                    <i class="far fa-comment-dots fa-sm mr-7 text-custom-primary"></i> 
                                    <i class="fa fa-envelope mr-7 text-custom-primary"></i> 
                                </h6>
                            </div>                             
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <img width="40" class="custom-location-img bg-custom-accident" src="/assets/Dashboard/chatvector.png" />
                        </div>
                    </div> 
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="60" src="/assets/Dashboard/Ellipse.png" />
                            <img class="br-50 custom-img-icon" width="12" src="/assets/Dashboard/blue.png">
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-primary fs-07 mb-1">Maji Williams
                                </h6>
                            </div>
                            <div class="col-md-6 pl-0">
                                <h6 class="text-custom-grey fs-07 mb-1 custom-political-party">
                                    POLL: LA/IK/10039
                                </h6>
                            </div>
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-danger text-center fs-06 mb-1"> Yesterday 10:30 AM </h6>
                            </div>  
                            <div class="col-md-6 text-center pl-0">
                                <h6 class="text-custom-grey text-center fs-06 mb-1">Timestamp: 20 min
                                </h6>
                            </div> 
                            <div class="col-md-12 text-center">
                                <h6 class="text-custom-primary fs-10">
                                    <i class="fa fa-phone mr-7 text-custom-primary"></i> 
                                    <i class="far fa-comment-dots fa-sm mr-7 text-custom-primary"></i> 
                                    <i class="fa fa-envelope mr-7 text-custom-primary"></i> 
                                </h6>
                            </div>                             
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <img width="40" class="custom-location-img bg-custom-accident" src="/assets/Dashboard/chatvector.png" />
                        </div>
                    </div> 
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="60" src="/assets/Dashboard/Ellipse.png" />
                            <img class="br-50 custom-img-icon" width="12" src="/assets/Dashboard/red.png">
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-primary fs-07 mb-1">Maji Williams
                                </h6>
                            </div>
                            <div class="col-md-6 pl-0">
                                <h6 class="text-custom-grey fs-07 mb-1 custom-political-party">
                                    POLL: LA/IK/10039
                                </h6>
                            </div>
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-danger text-center fs-06 mb-1"> Yesterday 10:30 AM </h6>
                            </div>  
                            <div class="col-md-6 text-center pl-0">
                                <h6 class="text-custom-grey text-center fs-06 mb-1">Timestamp: 20 min
                                </h6>
                            </div> 
                            <div class="col-md-12 text-center">
                                <h6 class="text-custom-primary fs-10">
                                    <i class="fa fa-phone mr-7 text-custom-primary"></i> 
                                    <i class="far fa-comment-dots fa-sm mr-7 text-custom-primary"></i> 
                                    <i class="fa fa-envelope mr-7 text-custom-primary"></i> 
                                </h6>
                            </div>                             
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <img width="40" class="custom-location-img bg-custom-accident" src="/assets/Dashboard/chatvector.png" />
                        </div>
                    </div> 
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="60" src="/assets/Dashboard/Ellipse.png" />
                            <img class="br-50 custom-img-icon" width="12" src="/assets/Dashboard/yellow.png">
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-primary fs-07 mb-1">Maji Williams
                                </h6>
                            </div>
                            <div class="col-md-6 pl-0">
                                <h6 class="text-custom-grey fs-07 mb-1 custom-political-party">
                                    POLL: LA/IK/10039
                                </h6>
                            </div>
                            <div class="col-md-6 pr-0">
                                <h6 class="text-custom-danger text-center fs-06 mb-1"> Yesterday 10:30 AM </h6>
                            </div>  
                            <div class="col-md-6 text-center pl-0">
                                <h6 class="text-custom-grey text-center fs-06 mb-1">Timestamp: 20 min
                                </h6>
                            </div> 
                            <div class="col-md-12 text-center">
                                <h6 class="text-custom-primary fs-10">
                                    <i class="fa fa-phone mr-7 text-custom-primary"></i> 
                                    <i class="far fa-comment-dots fa-sm mr-7 text-custom-primary"></i> 
                                    <i class="fa fa-envelope mr-7 text-custom-primary"></i> 
                                </h6>
                            </div>                             
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <img width="40" class="custom-location-img bg-custom-accident" src="/assets/Dashboard/chatvector.png" />
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
