.basic.modal {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }
  .basic.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
  }
  .basic.fade.in {
    opacity: 1;
  }
  .basic.modal.fade.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .basic.modal.fade .modal-dialog {
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    margin-top: 66px;
  }
  .basic .basic-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    color: #292b2c;
  }
  .basic .basic-close-light-box {
    position: absolute;
    top: -31px;
    right: -20px;
    font-size: 30px;
    color: #fff;
    text-shadow: none;
  }
  .basic h5 {
    margin-bottom: 0;
    color: #757575;
    font-size: 16px;
    font-family: 'TajawalBold', sans-serif !important;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
  }
  .basic .modal-dialog.modal-sm {
    min-width: 50% !important;
  }
  #modal-container .modal-dialog {
    min-width: 50% !important;
  }
  .modal-sm-center {
    margin-left: 40%;
    margin-top: 10%;
    margin: auto;
  }
  .modal-dialog {
    max-width: 900px;
     margin: 1.75rem auto;
}
.modal-content{
  background: linear-gradient(
    360deg, rgba(33, 51, 21, 1.9) 0.26%, rgba(183, 166, 67, 1.82));
border-radius: 5px;
    transition: all 2s ease-in-out;
    /* width: fit-content; */
}
.modal-body{
  padding: 0px !important;
}

