.rt-border{
    border-right: 2px #213315 solid;
}
.grid-elipse{
    background: #294416;
     border-radius: 50%;
      text-align: center;
}
.comment1 {
    background: #C5E0B4;
    border-radius: 11px;
    font-size: 10px;
    padding: 7px;
}

.comment1>p {
    color: #111;
}
.bg-grey-btn{
    background-color: #3C593482;
    border: 2px solid #376419;
    border-radius: 22px;
}
::ng-deep .p-inputswitch .p-inputswitch-slider:before{
    background: #4F8B3B;
}
::ng-deep .p-inputswitch .p-inputswitch-slider{
    background: #405838;
}
::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    background: #4F8B3B;
}
::ng-deep .p-checkbox .p-checkbox-box {
    background: #638b49;
}
::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #12B28C !important;
    background: #12B28C;
}
.hr{
    background: #ffffff;
}
.dotted{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: #405838;
    border-color: #405838;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
background: linear-gradient(359.66deg, rgba(33, 51, 21, 0.9) -11.74%, rgba(183, 166, 67, 0.82) 111.45%);
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 10px;
}
.map-responsive agm-map{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
