<div class="row mt-4">
    <div class="col-md-2 pl-0">
        <div class="dropdown-multiple">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-sm" data-target="#" href="#">
                <span class="dd-custom font-bold">Filters</span> <i class="fas fa-ellipsis-v dd-custom ml-3"></i>
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="javascript:void(0)">Country</a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let obj of electionCountries; index as i">
                            <a href="javascript:void(0)" (click)="filterByCountry(obj.id)" tabindex="-1">{{
                                obj.electionCountryName
                            }}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="javascript:void(0)">States</a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let obj of electionStatesForDropDown; index as i">
                            <a href="javascript:void(0)" (click)="filterByState(obj.id)" tabindex="-1">{{
                                obj.electionStateName
                            }}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="javascript:void(0)">Local Council</a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let obj of electionLocalCouncilsForDropDown; index as i">
                            <a href="javascript:void(0)" (click)="filterByLocalCouncil(obj.id)" tabindex="-1">{{
                                obj.electionLocalCouncilName
                            }}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="javascript:void(0)">Wards</a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let obj of electionWardsForDropDown; index as i">
                            <a href="javascript:void(0)" (click)="filterByWard(obj.id)" tabindex="-1">{{
                                obj.electionWardName
                            }}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="javascript:void(0)">Polling Units</a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let obj of pollingunitFilterDataArray; index as i">
                            <a tabindex="-1" href="javascript:void(0)" (click)="filterByPollingUnit(obj.id)">
                                {{ obj.electionPollingUnitName }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="javascript:void(0)">Polling Status</a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Pending</a></li>
                        <li><a href="javascript:void(0)">Completed</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-5 text-right">
        <input
            type="checkbox"
            id="Location"
            [(ngModel)]="Location"
            (change)="ActivitiesToLocation()"
            class="visually-hidden"
        />
        <div class="dropdown p-1 text-center">
            <label for="Location">
                <span class="text-custom-danger font-bold"><b>LOCATION</b> </span>
            </label>
        </div>
    </div>
    <div class="col-md-5 text-right">
        <input
            type="checkbox"
            id="Activities"
            [(ngModel)]="Activities"
            (change)="LocationToActivites()"
            class="visually-hidden"
        />
        <div class="dropdown p-1 text-center">
            <label for="Activities">
                <span class="text-custom-danger font-bold"><b>ACTIVITES</b> </span>
            </label>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-8 pl-0" [hidden]="!Location">
        <div class="row">
            <div class="col-md-2 pr-0">
                <input
                    type="checkbox"
                    id="GIS"
                    [(ngModel)]="GISMAP"
                    (change)="MapTypeGoogleToGIS()"
                    class="visually-hidden"
                />
                <div class="dropdown pb-2 pt-4 text-center">
                    <label for="GIS">
                        <span class="election-category-title"><b>GIS</b> </span>
                    </label>
                </div>
            </div>
            <div class="col-md-2 pr-0">
                <input
                    type="checkbox"
                    id="MAP"
                    [(ngModel)]="GOOGLEMAP"
                    (change)="MapTypeGISToGoogle()"
                    class="visually-hidden"
                />
                <div class="dropdown pb-2 pt-4 text-center">
                    <label for="MAP">
                        <span class="election-category-title"><b>GOOGLE MAP </b> </span>
                    </label>
                </div>
            </div>
            <div class="col-md-3 pr-0">
                <input type="checkbox" id="Detail" class="visually-hidden" />
                <div class="dropdown pb-2 pt-4 text-center">
                    <label for="Detail">
                        <span class="election-category-title"
                            ><b>Detail </b>
                            <i class="fas fa-external-link-alt text-custom-danger ml-3"></i>
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-md-2 text-right mt-7 pr-0">
                <h6 class="text-custom-primary">Satellite</h6>
            </div>
            <div class="col-md-1 mt-7 pr-0">
                <div class="switch">
                    <input id="switch-1" type="checkbox" [(ngModel)]="satteliteSwitch" class="switch-input" />
                    <label for="switch-1" class="switch-label">Switch</label>
                </div>
            </div>
            <div class="col-md-1 text-right mt-7 pr-0">
                <h6 class="text-custom-primary">Map</h6>
            </div>
            <div class="col-md-1 mt-7 pl-2">
                <div class="switch">
                    <input id="switch-2" type="checkbox" [(ngModel)]="mapSwitch" class="switch-input" />
                    <label for="switch-2" class="switch-label">Switch</label>
                </div>
            </div>
        </div>
        <div class="" [hidden]="!GOOGLEMAP">
            <div id="map" class="map-div"></div>
        </div>
        <div [hidden]="!GISMAP">
            <div class="p-2 analytics-sortbyparties-dropdown">
                <a
                    class="btn btn-sm btn block bg-custom-danger text-white"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Filter <i class="fas fa-sm fa-ellipsis-v text-white ml-2"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" (click)="filterByLocalBoundries()">
                        <span class="text-custom-danger text-uppercase">filter By Local Area Boundries</span>
                    </a>
                    <a class="dropdown-item" (click)="filterByStateBoundries()">
                        <span class="text-custom-danger text-uppercase">filter By State Boundries</span>
                    </a>
                    <a class="dropdown-item" (click)="filterByWardBoundries()">
                        <span class="text-custom-danger text-uppercase">filter By Wards Boundries</span>
                    </a>
                </div>
            </div>
            <div #mapViewNode id="mapViewNode"></div>
        </div>
    </div>
    <div class="col-md-8 pl-0" [hidden]="!Activities">
        <div class="row">
            <div class="col-md-3">
                <cdk-virtual-scroll-viewport itemSize="20" class="virtual-scroll-viewport">
                    <div
                        class="card pt-9 pb-10 pl-3 pr-3 bg-activities-card1 mb-2 custom-agent-card"
                        *cdkVirtualFor="let item of pollingUnitActivity.candidates"
                    >
                        <div class="row text-center">
                            <div class="col-md-6">
                                <img src="{{ item.partyPhoto }}" width="20" class="ml-3" />
                            </div>
                            <div class="col-md-6">
                                <img src="{{ item.candidatePhoto }}" width="20" class="ml-3" />
                            </div>
                            <div class="col-md-12">
                                <h6 class="text-custom-primary fs-07">
                                    <marquee
                                        direction="left"
                                        class="text-custom-primary fs-08"
                                        scrolldelay="600"
                                        behavior="loop"
                                        >{{ item.candidateName }}</marquee
                                    >
                                </h6>
                            </div>
                            <div class="col-md-12">
                                <h6 class="text-custom-primary fs-11 pt-2">
                                    Votes: {{ item.totalElectionCandidateVote }}
                                </h6>
                            </div>
                        </div>
                    </div>
                </cdk-virtual-scroll-viewport>
            </div>
            <div class="col-md-9 pl-0">
                <div class="card bg-activities-card2 pt-3 pb-3">
                    <div class="">
                        <div class="col-md-12 custom-border-primary">
                            <h6 class="text-custom-activities">{{ pollingUnitActivity.electionWardName }}</h6>
                            <h6 class="text-custom-activities1 fs-07">
                                Polling Unit ID: {{ pollingUnitActivity.electionPollingUnitName }}
                            </h6>
                        </div>
                        <div class="col-md-12 pb-2 text-center">
                            <img src="/assets/Dashboard/Ellipse2.png" />
                        </div>
                        <div class="col-md-10">
                            <button class="btn btn-sm btn-primary pl-7 pr-7">With Results</button>
                            <h6 class="fs-11">
                                Polling Agents: <span class="ml-9 fs-11">{{ pollingUnitActivity.pollingAgents }}</span>
                            </h6>
                            <h6 class="fs-11">
                                Device Available:
                                <span class="ml-9 fs-09">Mobile GPS</span>
                                <span class="ml-5 fs-09">CCTV</span>
                                <span class="ml-6 fs-09">Tracker</span>
                            </h6>
                        </div>
                        <div class="col-md-2 text-right">
                            <svg
                                width="22"
                                height="23"
                                viewBox="0 0 22 23"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <rect y="0.125" width="22" height="22" rx="11" fill="#4DBCBB" />
                            </svg>
                        </div>
                        <div class="col-md-6 bg-activities-card3 custom-border-primary">
                            <div class="col-md-2 mt-6">
                                <i class="fa fa-solid fa-signal text-custom-primary"></i>
                            </div>
                            <div class="col-md-10 mt-5 pl-2 mb-1">
                                <h6 class="text-custom-activities fs-09 mb-1">Total Votes</h6>
                                <h6 class="text-custom-primary fs-07">{{ pollingUnitActivity.totalVote }}</h6>
                            </div>
                        </div>
                        <div class="col-md-6 bg-activities-card3 custom-border-primary">
                            <div class="col-md-2 mt-6">
                                <i class="fa fa-calendar text-custom-primary"></i>
                            </div>
                            <div class="col-md-10 mt-5 pl-2 mb-1">
                                <h6 class="text-custom-activities fs-09 mb-1">Valid Votes</h6>
                                <h6 class="text-custom-primary fs-07">{{ pollingUnitActivity.totalValidVote }}</h6>
                            </div>
                        </div>
                        <div class="col-md-6 bg-activities-card3 custom-border-primary">
                            <div class="col-md-2 mt-6">
                                <i class="fa fa-solid fa-signal text-custom-primary"></i>
                            </div>
                            <div class="col-md-10 mt-5 pl-2 mb-1">
                                <h6 class="text-custom-activities fs-09 mb-1">Cancelled Votes</h6>
                                <h6 class="text-custom-primary fs-07">{{ pollingUnitActivity.totalCancelled }}</h6>
                            </div>
                        </div>
                        <div class="col-md-6 bg-activities-card3 custom-border-primary">
                            <div class="col-md-2 mt-6">
                                <i class="fa fa-solid fa-signal text-custom-primary"></i>
                            </div>
                            <div class="col-md-10 mt-custom pl-2 mb-1">
                                <h6 class="text-custom-activities fs-09 mb-1">Accredited Bvas Voters</h6>
                                <h6 class="text-custom-primary fs-07">
                                    {{ pollingUnitActivity.totalAccreditedBvasVoters }}
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-12 bg-activities-card3 custom-border-primary">
                            <div class="col-md-2 mt-6">
                                <i class="fa fa-solid fa-signal text-custom-primary"></i>
                            </div>
                            <div class="col-md-10 mt-5 pl-2 mb-1">
                                <h6 class="text-custom-activities fs-09 mb-1">Confirmed Accredited Voters</h6>
                                <h6 class="text-custom-primary fs-07">
                                    {{ pollingUnitActivity.totalConfirmedAccreditedVoters }}
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-12 bg-activities-card4 custom-border-primary">
                            <h6 class="font-bold mt-5 mb-4">Working Activity</h6>
                        </div>
                        <div class="col-md-12 bg-activities-card4">
                            <div class="col-md-8">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="workingActivity_id1"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="workingActivity_id1" class="checkbox-label">
                                    <span class="fs-09">Polling Activity Started At </span>
                                </label>
                                <br />
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="workingActivity_id2"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="workingActivity_id2" class="checkbox-label">
                                    <span class="fs-09">Break </span>
                                </label>
                                <br />
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="workingActivity_id3"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="workingActivity_id3" class="checkbox-label">
                                    <span class="fs-09">Polling Activity Completed At </span>
                                </label>
                                <br />
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="workingActivity_id4"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="workingActivity_id4" class="checkbox-label">
                                    <span class="fs-09">Vote Counting Started At </span>
                                </label>
                                <br />
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="workingActivity_id5"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="workingActivity_id5" class="checkbox-label">
                                    <span class="fs-09">Vote Counting Completed At </span>
                                </label>
                                <br />
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="workingActivity_id6"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="workingActivity_id6" class="checkbox-label">
                                    <span class="fs-09">Results Announed At </span>
                                </label>
                            </div>
                            <div class="col-md-4 pl-0 pr-0 mt-2">
                                <h6 class="fs-09">7:30 AM</h6>
                                <h6 class="fs-09">12:30 PM - 1:30 PM</h6>
                                <h6 class="fs-09">4:30 PM</h6>
                                <h6 class="fs-09">4:50 PM</h6>
                                <h6 class="fs-09">7:50 PM</h6>
                                <h6 class="fs-09">8:10 PM</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 pl-0 pr-0 mt-6">
        <div class="card">
            <div class="card-body p-2">
                <div class="row mb-4 ml-0">
                    <div class="col-md-4 pl-0 pr-1">
                        <div class="text-center dropdown pt-2 text-custom-danger mb-2" (click)="GetAllPollingUnit()">
                            <span class="election-category-title text-uppercase"
                                >Polling Units<i class="fas fa-sm fa-external-link-alt ml-1 text-custom-danger"></i
                            ></span>
                        </div>
                    </div>
                    <div class="col-md-3 pl-1 pr-1">
                        <button
                            class="btn btn-sm btn-block btn-outline-success br-25 p-2"
                            [ngClass]="{ active: resultedData }"
                            (click)="GetResultedPollingUnit()"
                        >
                            Result
                        </button>
                    </div>
                    <div class="col-md-5 pl-1">
                        <button
                            class="btn btn-sm btn-block btn-outline-danger br-25 p-2"
                            [ngClass]="{ active: withoutResultedData }"
                            (click)="GetWithoutResultedPollingUnit()"
                        >
                            W/out Result
                        </button>
                    </div>
                    <div class="col-md-12" [hidden]="pollingunitDataArray.length == 0">
                        <div class="row">
                            <div class="col-md-5 pl-0 pr-0">
                                <h6 class="text-dark fs-10 mb-1">
                                    <b
                                        ><span class="text-success fs-09">Resulted: </span
                                        ><strong>{{ puResulted }}</strong></b
                                    >
                                </h6>
                            </div>
                            <div class="col-md-7 pl-0 pr-0">
                                <h6 class="text-dark fs-10 mb-1">
                                    <b
                                        ><span class="text-danger fs-09">W/out Resulted: </span
                                        ><strong>{{ puWOResulted }}</strong></b
                                    >
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pr-1 card-with-scrol">
                    <cdk-virtual-scroll-viewport itemSize="50" class="virtual-scroll-viewport">
                        <div
                            class="row pt-2 mb-2 ml-0 custom-agent-card"
                            [ngClass]="{ 'bg-noresult': item.totalVote === 0, 'bg-result': item.totalVote !== 0 }"
                            (click)="showMapPopUpAndActivity(item)"
                            *cdkVirtualFor="let item of pollingunitDataArray"
                        >
                            <div class="col-md-3 mt-4 pl-1">
                                <img class="br-50" width="50" src="/assets/Dashboard/Ellipse2.png" />
                                <img class="br-50 custom-img-icon" width="15" src="{{ item.icon }}" />
                            </div>
                            <div class="col-md-9 pl-0 pr-0">
                                <marquee
                                    direction="left"
                                    class="text-custom-primary fs-08 mr-5"
                                    scrolldelay="600"
                                    behavior="loop"
                                >
                                    <h6 class="text-custom-primary fs-08 mb-1">
                                        <b>{{ item.electionPollingUnitName }}</b>
                                    </h6>
                                </marquee>

                                <h6 class="text-custom-danger fs-07 mb-1">
                                    Open At - 08:30 AM
                                    <span class="ml-2 text-custom-grey fs-07">Closes At - 05:30 PM</span>
                                </h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6 class="text-custom-danger fs-07">Valid Votes</h6>
                                        <h6 class="text-custom-danger fs-07">Total Votes</h6>
                                        <h6 class="text-custom-danger fs-07">Cancelled Votes</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="text-custom-grey fs-07">{{ item.totalValidVote }}</h6>
                                        <h6 class="text-custom-grey fs-07">{{ item.totalVote }}</h6>
                                        <h6 class="text-custom-grey fs-07">{{ item.totalCancelled }}</h6>
                                    </div>
                                </div>
                                <!-- <h6 class="text-custom-primary text-center fs-07 mb-1">
                                    Polling Unit With Results | {{item.totalVote}} Votes
                                </h6> -->
                            </div>
                        </div>
                    </cdk-virtual-scroll-viewport>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="card bg-custom-mappopup">
    <div class="card-body p-5">
        <div class="row">
            <div class="col-md-6">
                <h6 class="text-dark fs-08"><b>Polling Unit</b></h6>
            </div>
            <div class="col-md-6">
                <h6 class="text-dark fs-07"><b>W4-01</b></h6>
            </div>
            <div class="col-md-4">
                <h6 class="text-custom-primary fs-07"><b>Valid Vote</b></h6>
                <h6 class="text-dark text-muted fs-07"><b>75,0000</b></h6>
            </div>
            <div class="col-md-4">
                <p-chart
                    type="doughnut"
                    [data]="dataValidVotes"
                    [options]="optionsdataValidVotes"
                    [style]="{ width: '40%' }"
                ></p-chart>
            </div>
            <div class="col-md-4">
                <h6 class="text-custom-primary fs-07"><b>Cancelled Vote</b></h6>
                <h6 class="text-dark text-muted fs-07"><b>85,0000</b></h6>
            </div>
            <div class="col-md-4">
                <p-chart
                    type="doughnut"
                    [data]="dataCancelledVotes"
                    [options]="optionsdataCancelledVotes"
                    [style]="{ width: '40%' }"
                ></p-chart>
            </div>
        </div>
        <div class="card bg-custom-mappopup2">
            <div class="card-body p-0">
                <div class="bg-custom-mappopup3 p-5">
                    <div class="col-md-6">
                        <h6 class="text-dark fs-08"><b>Region Lagos</b></h6>
                    </div>
                    <div class="col-md-6">
                        <h6 class="text-dark fs-07"><b>W4-01</b></h6>
                    </div>
                </div>
                <div class="p-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/assets/svgfortabs/how_to_vote.svg" width="15" />
                                </div>
                                <div class="col-md-9">
                                    <h6 class="text-dark fs-09"><b>58,000</b></h6>
                                    <h6 class="text-primary fs-08"><b>Total Votes</b></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/assets/svgfortabs/how_to_vote.svg" width="15" />
                                </div>
                                <div class="col-md-9">
                                    <h6 class="text-dark fs-09"><b>58,000</b></h6>
                                    <h6 class="text-primary fs-08"><b>Valid Votes</b></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/assets/svgfortabs/how_to_vote.svg" width="15" />
                                </div>
                                <div class="col-md-9">
                                    <h6 class="text-dark fs-09"><b>58,000</b></h6>
                                    <h6 class="text-primary fs-08"><b>Cancelled Votes</b></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
