.column {
    height: 128px;
    background: linear-gradient(180deg, rgba(88, 94, 52, 0.66) 13.87%, rgba(183, 166, 67, 0.4752) 117.52%);
    border: 2px solid rgba(33, 51, 21, 0.56);
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 18px;

}
.column img{
    /* width: 80px;
    height: 80px; */
    margin-top: 20px;
    padding: 10px;
    display: block;
    overflow: hidden;
    border-radius: 100%;
    width: 100px;
    height: 80px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.column .white-text{

    padding-top: 30px;
    padding-right: 47px;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 0 0 6px;
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.01em;

}
.column .white-text em{
    font-style: normal;
    /* font-size: 13px; */
    color: #fff;
      /* ME */
      font-family: Roboto;
    font-weight: 100;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.01em;
}
.column .red{
    padding-right: 40px;
    font-style: normal;
    /* font-size: 14px; */
    width: 100%;
    display: block;
    text-align: center;
    /* ME */
    font-family: Roboto;

    font-size: 17px;
    line-height: 10px;
    letter-spacing: -0.01em;
    color: #FF3429;
}

.crit_item{
    width: 70px;
}

.crit_font{
    margin: 0;
}