.asset-monitoring-grid {
    height: 467px;
       /* background: #425a3a; */
       /* background: #213315; */
    mix-blend-mode: normal;
    border-radius: 32px;
    padding: 1%;
    padding-top: 0px;
}

.asset-monitoring-grid-table {
    height: 351px;    overflow: auto;
    border-radius: 13px;
}
::ng-deep .action-btn .p-dropdown{
width: 100% !important;
}
.asset-monitoring-grid p {
    padding-top: 10px;
    margin-top: 15px;
    padding-left: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* color: #FFFFFF; */
}

.asset-monitoring-grid th {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #3C5934;
    position: sticky;
    top: 0;
    z-index: 1;
    /* background:#425a3a; */
    background: rgb(154 160 85);


}

.asset-monitoring-grid tbody {
    height: 272px;
    /* background: rgba(183, 166, 67, 0.85); */
    border-radius: 10px !important;
}

.asset-monitoring-grid td {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    /* color: #FFFFFF; */
}

.asset-monitoring-grid table {

    border-collapse: collapse;
    width: 100%;}

.asset-monitoring-grid td,
th {

    text-align: left;
    padding: 11px;
}
::ng-deep .actiondropdown{
    background: #787735;
}