

<div class="parent mt-4">
    <div class="header">
        <h2 class="heading">Rescue activity timeline</h2>
        <img src="../../../../assets/icon-after-headings.png" alt="icon-after-headings" class="icon-after-headings">
        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="william-section">
                    <div class="col-md-3">
                        
                        <div class="card bg-custom-location-card2 p-4 fire">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h6 class="text-custom-location-card2 font-bold fire-text">Fire</h6>
                                </div>
                                <div class="col-md-12">
                                    <img src="/assets/IncidentDashboard/fire.png" width="60">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="flex">
                        <img src="../../../../assets/william (2).png" alt="william-iamge" class="william-image"> 
                        <span class="william-text">William</span>
                    </div>
                        <div class="description">X735+GHH,900102, Mopol 44, Barracks kuje, Nigeria</div>
                        <div class="time-stamp">(timestamp)2021, november,21</div>
                    </div>

                    <div class="col-md-3">
                        <div class="images">
                        <img src="../../../../assets/ball.png" alt="ball-image" class="ball-image">
                        <button class="kane">Kane</button>
                    </div>
                    </div>

                </div>

                <!-- Section-2 -->
                <div class="william-section mt-10">
                    <div class="col-md-3">
                        
                        <div class="card bg-custom-location-card3 p-4 accident">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h6 class="text-custom-location-card3 font-bold acc-text">Accident</h6>
                                </div>
                                <div class="col-md-12">
                                    <img src="/assets/IncidentDashboard/accident.png" width="60">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="flex">
                        <img src="../../../../assets/william (2).png" alt="william-iamge" class="william-image"> 
                        <span class="william-text">William</span>
                    </div>
                        <div class="description">X735+GHH,900102, Mopol 44, Barracks kuje, Nigeria</div>
                        <div class="time-stamp">(timestamp)2021, november,21</div>
                    </div>

                    <div class="col-md-3">
                        <div class="images">
                        <img src="../../../../assets/ball.png" alt="ball-image" class="ball-image">
                        <button class="kane">Kane</button>
                    </div>
                    </div>

                </div>

                <!-- 3 -->
                <div class="william-section mt-10">
                    <div class="col-md-3">
                        
                        <div class="card bg-custom-location-card2 p-1 armed">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h6 class="text-custom-location-card2 font-bold arm-text">Armed Robbery</h6>
                                </div>
                                <div class="col-md-12">
                                    <img src="../../../../assets/imgpsh_fullsize_attack.png" width="60">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="flex">
                        <img src="../../../../assets/william (2).png" alt="william-iamge" class="william-image"> 
                        <span class="william-text">William</span>
                    </div>
                        <div class="description">X735+GHH,900102, Mopol 44, Barracks kuje, Nigeria</div>
                        <div class="time-stamp">(timestamp)2021, november,21</div>
                    </div>

                    <div class="col-md-3">
                        <div class="images">
                        <img src="../../../../assets/ball.png" alt="ball-image" class="ball-image">
                        <button class="kane">Kane</button>
                    </div>
                    </div>

                </div>

                <!-- 4 -->
                <div class="william-section mt-10">
                    <div class="col-md-3">
                        
                        <div class="card bg-custom-location-card2 p-4 fire">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h6 class="text-custom-location-card2 font-bold fire-text">Fire</h6>
                                </div>
                                <div class="col-md-12">
                                    <img src="/assets/IncidentDashboard/fire.png" width="60">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="flex">
                        <img src="../../../../assets/william (2).png" alt="william-iamge" class="william-image"> 
                        <span class="william-text">William</span>
                    </div>
                        <div class="description">X735+GHH,900102, Mopol 44, Barracks kuje, Nigeria</div>
                        <div class="time-stamp">(timestamp)2021, november,21</div>
                    </div>

                    <div class="col-md-3">
                        <div class="images">
                        <img src="../../../../assets/ball.png" alt="ball-image" class="ball-image">
                        <button class="kane">Kane</button>
                    </div>
                    </div>

                </div>

                <!-- 5 -->
                <div class="william-section mt-10">
                    <div class="col-md-3">
                        
                        <div class="card bg-custom-location-card2 p-4 police">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h6 class="text-custom-location-card2 font-bold police-text">Police</h6>
                                </div>
                                <div class="col-md-12">
                                    <img src="../../../../assets/imgpsh_fullsize_attack.png" width="60">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="flex">
                        <img src="../../../../assets/william (2).png" alt="william-iamge" class="william-image"> 
                        <span class="william-text">William</span>
                    </div>
                        <div class="description">X735+GHH,900102, Mopol 44, Barracks kuje, Nigeria</div>
                        <div class="time-stamp">(timestamp)2021, november,21</div>
                    </div>

                    <div class="col-md-3">
                        <div class="images">
                        <img src="../../../../assets/ball.png" alt="ball-image" class="ball-image">
                        <button class="kane">Kane</button>
                    </div>
                    </div>

                </div>
            </div>
        </div>
        
</div>