.dropdown .election-category-title {
    line-height: 1 !important;
    font-family: 'Inter' !important;
    font-weight: 700 !important;
    font-size: 0.9rem !important;
    align-items: center !important;
    color: #FF6C88 !important;
    cursor: pointer;
}
.dropdown .show {
    margin-top: 20px;
    width: 215%;
    margin-left: -20px;
    background: #FFEDF0 !important;
    border-color: #FF6C88 !important;
    border-radius: 0px 0px 0px 0px !important;
}
.dropdown {
    border-bottom: 3px solid #FF6C88 !important;
}

.dropdown-menu > .dropdown-item, .dropdown-menu > li > a {
    white-space: normal !important;
    padding-right: 0.3rem !important;
    padding-left: 0.6rem !important;
}


.dropdown.show {
    background: #FF6C88 !important;
    border-radius: 5px !important;
}

.dropdown.show .election-category-title {
    color: #FFFFFF !important;
}

.visually-hidden {
    position: absolute;
    left: -100vw;
}
.filterCheckBox:checked + .dropdown {
    background: #FF6C88 !important;
    border-radius: 5px !important;
}
.filterCheckBox:checked + .dropdown .election-category-title {
    color: #FFFFFF !important;
}
#toggle1:checked + .dropdown {
    background: #FF6C88 !important;
    border-radius: 5px !important;
}
#toggle1:checked + .dropdown .election-category-title {
    color: #FFFFFF !important;
}
#toggle2:checked + .dropdown {
    background: #FF6C88 !important;
    border-radius: 5px !important;
}
#toggle2:checked + .dropdown .election-category-title {
    color: #FFFFFF !important;
}

#toggle5:checked + .custom-badge {
    background: #FF6C88 !important;
    border-radius: 5px !important;
}
#toggle5:checked + .custom-badge .election-category-title {
    color: #FFFFFF !important;
}

.custom-badge{
    background: #bcbcbc;
    border-radius: 4px;
    color: #E2E1FF !important;
}

.custom-badge .election-category-title {
    line-height: 1 !important;
    font-family: 'Inter' !important;
    font-weight: 700 !important;
    font-size: 11px !important;
    align-items: center !important;
    color: #E2E1FF !important;
}

.checkbox1 {
    line-height: 1 !important;
    font-family: 'Inter' !important;
    font-weight: 700 !important;
    font-size: 11px !important;
    align-items: center !important;
    color: #FF6C88 !important;
  }
  .check {
    visibility: hidden;
    background: #FF6C88;
    color: #FFFFFF !important;
    display: block;
    height: 100%;
  }
  .active {
    visibility: visible;
  }

  .bg-custom-card {
    background: #E2E1FF;
    border-radius: 6px;
}

.text-custom-danger {
    color: #FF6C88 !important;
}

.text-custom-primary {
    color: #6966FF !important;
}

.text-custom-card{
    color:#392F55 !important
}

.bg-custom-card1{
    background-color: #FECCA8 !important
}
.bg-custom-card2{
    background-color: #A8E4FE !important
}
.bg-custom-card3{
    background-color: #B4A8FE !important
}
.bg-custom-card4{
    background-color: #FEA8A8 !important
}

.checkbox_id:before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 7px;
    top: 10px;
    left: 0;
    border: 1px solid #6966FF;
    background-color: #FFEDF0;
}

.checkbox_id:checked:after {
    content: "";
    display: block;
    width: 2px;
    height: 4px;
    border: solid #6966FF;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 11px;
    left: 3px;
}

#checkbox_id1:before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 7px;
    top: 4px;
    left: 0;
    border: 1px solid #6966FF;
    background-color: #E2E1FF;
}

#checkbox_id1:checked:after {
    content: "";
    display: block;
    width: 2px;
    height: 4px;
    border: solid #6966FF;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    left: 2px;
}


.dashboard{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    gap: 3px;
}
.dashboard button{
    width: 155px;
    height: 90px;
    position: relative;
}

.btn-bur{
    font-weight: 700;
    background-color: #F5E6B0;
    border: 1px solid #F5E6B0;
    border-radius: .6rem;
    font-size: 12px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-right: 50px;

}
.burglary-image{
    width: 22px;
    height: 18px;
    position: absolute;
    top: 17%;
    right: 15%;
}

.btn-sh{
    font-weight: 700;
    background-color: #bcbae7;
    border: 1px solid #bcbae7;
    border-radius: .6rem;
    font-size: 12px;
    padding: 1rem;
    display:flex;
    justify-content: center;
    align-items: end;
    padding-right: 50px;

}
.gun-image{
    width: 20px;
    height: 15px;
    position: absolute;
    top: 20%;
    right: 15%;
}

.btn-text-arm{
    display: flex;
   justify-content: center;
   align-items: center;  
   padding-bottom: 14px;  
    color: #392F55;
    font-size: 13px;
}

.btn-ar{
    
    background-color: rgb(240, 198, 115);
    border: 1px solid rgb(241, 201, 126);
    border-radius: .5rem;
    font-size: 12px;
    display:flex;
    justify-content: start;
    align-items: end;
    text-align: start;
    font-weight: 700;
    padding: 2px;
}
.armed-image{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20%;
    right: 15%;
}

.btn-text{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
   color: #392F55;
}

.btn-th{
    font-weight: 700;
    background-color: #B9F3FF;
    border: 1px solid #B9F3FF;
    border-radius: .6rem;
    font-size: 12px;
    padding: 1rem;
    display:flex;
    justify-content: center;
    align-items: end;
    padding-right: 50px;
}
.theft-image{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20%;
    right: 15%;
}
.btn-ot{
    font-weight: 700;
    background-color: rgb(221, 142, 154);
    border: 1px solid rgb(196, 151, 158);
    border-radius: .6rem;
    font-size: 12px;
    padding: 1rem;
    display:flex;
    justify-content: center;
    align-items: end;
    padding-right: 50px;
    position: absolute;
}
.other-image{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20%;
    right: 15%;
}
.text{
    
    font-size: 14px;
    display: flex;
    align-items: start;
    position: relative;
    top: -39%;
    left: 2%;
}
.text-129{
    font-size: 14px;
    display: flex;
    align-items: start;
    margin-bottom: 30px;
    padding-right: 20px;
    position: relative;
    top: -20%;
    left: 2%;
}
