.btn-authorize{
   color: #FFFFFF;
   background-color: #6F8468;
   border-color: #6F8468;
   border-radius: 20px;
}

:host ::ng-deep .p-datatable .p-datatable-header {
   background: #213315 !important;
   border: none !important;
   border-width: 0 0 0 0 !important;
}
:host ::ng-deep .p-datatable .p-paginator-bottom {
   border-width:  0 0 0 0 !important;
   background: #B7A643 !important;
}
.authorizationHeader{
   background: black;
}
:host ::ng-deep .p-datatable-scrollable-body .authbody-tr {
   background: #507746 !important;
}
:host ::ng-deep .p-datatable-scrollable-body .authbody-tr {
   color: #fefffe !important;
}
:host ::ng-deep .p-datatable-scrollable-body .authbody-tr td{
   border-left: 2px #213315 solid;
}
:host ::ng-deep .p-datatable-scrollable-body .issuebody-tr{
   background: #6d773a !important;
}
:host .text-w{
   color: white;
}
:host .issuebody-tr{
   color: white !important;
   font-size: 12px !important;
}
:host .issueOrderItem{
   background-color: transparent ;
   color: white !important;
}
:host .issueOrderItem .gridheader{
   color: white !important;
   font-size: 11px !important;
   text-align: center !important;
}

/* for Comment,note,remarks section */
::ng-deep .dynamicModal{
   width: 33vw !important;
}
::ng-deep .dynamicModal input{
   background: #9b9f55 !important;
   color:white !important;
}
:ng-deep .dynamicModal .modal-body{
   padding: 7px !important;
}
:ng-deep .dynamicModal.head {
  text-align: center !important;
}
:ng-deep .dynamicModal .head h3{
   color:white !important;
}
.round-number{
   height: 14px;
   width: 15px;
   font-size: 10px;
   background-color: #FF3429;
   border-radius: 50%;
   display: inline-block;
   text-align: center;

}
.pointer{
   cursor: pointer;
}
.comment1 {
   background: #C5E0B4;
   border-radius: 11px;
   font-size: 10px;
   padding: 7px;
}

.comment1>p {
   color: #111;
   overflow-wrap: break-word;
}
/* for Comment,note,remarks section */
/* button */
.Round-Pannel3 .btn {
   border: 3px solid #BEC168;
   box-sizing:border-box;
   font-size: 12px;
   color: white;
   border-radius: 30px;
   margin-top: 13px;
}
.bg-yellow {
   background: #E49E0C !important;
   border: 3px solid #BEC168;
   box-sizing: border-box;
   font-size: 12px;
   color: white;
   border-radius: 30px;
   margin-top: 13px;
}
.priority_circle {
   width: 25px;
   margin-right: 10px;
   height: 25px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   color: white;
   border: 1px solid #FFA600;
}
.priority_circle.active {
   background-color: #FFA600;

}
.inner-table {
   max-height: 158px;
   overflow: auto;
   overflow-y: scroll;
}
.inner-table>tbody>tr {
   border-bottom: 1px solid !important;
   font-size: 10px !important;
}
