.login.login-1 .login-aside .aside-img {
    min-height: 450px;
}

.login.login-1 .login-signin,
.login.login-1 .login-signup,
.login.login-1 .login-forgot {
    display: none;
}

.login.login-1.login-signin-on .login-signup {
    display: none;
}

.login.login-1.login-signin-on .login-signin {
    display: block;
}

.login.login-1.login-signin-on .login-forgot {
    display: none;
}

.login.login-1.login-signup-on .login-signup {
    display: block;
}

.login.login-1.login-signup-on .login-signin {
    display: none;
}

.login.login-1.login-signup-on .login-forgot {
    display: none;
}

.login.login-1.login-forgot-on .login-signup {
    display: none;
}

.login.login-1.login-forgot-on .login-signin {
    display: none;
}

.login.login-1.login-forgot-on .login-forgot {
    display: block;
}

@media (min-width: 992px) {
    .login.login-1 .login-aside {
        width: 100%;
        max-width: 600px;
    }

    .login.login-1 .login-content {
        width: 100%;
        max-width: 500px;
    }

    .login.login-1 .login-content .login-form {
        width: 100%;
        max-width: 480px;
        /* // height: 58%; */
    }
}

@media (min-width: 992px) and (max-width: 1399.98px) {
    .login.login-1 .login-aside {
        width: 100%;
        max-width: 450px;
    }
}

@media (max-width: 991.98px) {
    .login.login-1 .login-content .login-form {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 575.98px) {
    .login.login-1 .aside-img {
        min-height: 300px !important;
        background-size: 400px;
    }

    .login.login-1 .login-content .login-form {
        width: 100%;
        max-width: 100%;
    }
}

.has-danger .form-control-feedback {
    color: #fd397a;
    margin-top: 0.2rem;
    font-size: 0.85rem;
    text-align: left;
}

ul.text-danger {
    list-style: none;
    color: #f4516c;
    margin-top: 0.2rem;
    font-size: 0.85rem;
    text-align: left;
    padding-left: 0;
}

.text-heading {
    height: 98px;
    left: 310px;
    right: 984px;
    top: 125px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 98px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;

    /* // border: 1px solid rgba(0, 0, 0, 0.5); */
    text-shadow: 36px -2px 56px rgba(0, 0, 0, 0.25);
}

.p-heading-row {
    margin-left: 36%;
}

.p-heading {
    height: 93px;
    left: 128px;
    right: 769px;
    top: 233px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 31px;
    text-align: center;

    color: #ffffff;
}

.wall-paper-img {
    width: 107px;
    height: 50px;
}

.captcha-container {
    margin: auto;
    width: 70%;
}

.cstm-login-layout {
    background: #ffffffed;
    padding: 30px;
    color: #6751ed;
    font-family: Inter;
}

html,
body {
    height: 100%;
}

body {
    background-color: white;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.tenant-card-body {
    width: 306px;
    height: 15px;
    top: 30.5px;
    border-radius: 12px;
    padding: 14px, 24px, 14px, 24px;
    gap: 100px;
    margin-left: 60px;
    display: inline-block;
}

.tenant-card {
    background: #e2e1ff;
    border-radius: 12px;
}

.eqis-login-btn {
    color: white;
    background-color: #FF6C88;
    border: 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 200px;
    order: 0;
    flex-grow: 0;
    font-family: Inter;
}

.bg-module {
    background-image: url('/assets/bgImage_HomeSecureFrontEnd.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

.bb-danger {
    border-bottom-color: #ff6c88;
}

.btn-custom-design {
    color: #ff6c88;
    font-size: bolder;
}

.tenant-card-span {
    font-family: Roboto;
    font-weight: 500;
    color: #6751ed;
    letter-spacing: -0.25px;
    text-align: center;
    font-size: 15px;
}

.tenant-card-btn {
    background-color: #7966ff;
    color: white;
    margin-top: 6px;
}

.logout-btn{
    height: 50px; width: 266px; margin-left: 70px; line-height: 0; font-weight: 800
}
