
.parent{
    display: flex;
    /* flex-direction: column; */
    display: block;
    border: 2px solid #FAFAFAFA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    width: 100%;
    top: 0;
    padding: 1rem;
    margin-left: .1rem;
    margin-top: 2rem;
  }
 
  
.header{
    display: flex;
    color: #FF6C88;
    border-bottom: 3px solid #FF6C88;
    justify-content: center;
   align-items: center;
   width: 100%;
   margin-top: -40px;
  
  }
  .heading{
    display: flex;
    margin-top: 30px;   
    text-transform: uppercase;
    font-family: 'Inter' !important;
    font-weight: 700 !important;
    font-size: 15px;
  }
  .icon-after-headings{
  width: 18px;
  height: 18px; 
  margin-top: 25px;
  margin-left: .5rem;
  align-self: center;
  }

  
.scroll{
    display: flex;
    gap: 26px;
    align-items: center;
    margin-top: 20px;
}
.text{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
}
.btn-onduty{
    width: 300px;
    height: 25px;
    border-radius: 6px;
    border: 1px solid aqua;
    color: aquamarine;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;

}

.btn-offduty{
    width: 300px;
    height: 25px;
    border-radius: 6px;
    border: 1px solid #e09c9cfa;
    color: #cc7979;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
.p1{
    margin-bottom: 12px;
}


.william-img{
    width: 50px;
    height: 50px;
}
.william-section{
    margin-top: 20px;
}

.section-1{
    padding: 5px;
    width: 103%;
    height: 70px;
    border: 3px solid #FF6C88;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
}
.info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.maji-william{
    display: flex;
    gap: 40px;
    font-size: 12px;
}
.poll{
    text-transform: uppercase;
}
.will-text{
    color:  #6966FF;
    margin-left:10px;   
    font-weight: 500;
}

.address-time{

    display: flex;
    gap: 15px;
    font-size: 12px;
  
}
.address{
    color: #FF6C88;
    margin-left: 10px;
}
.time{
    color: #828282;
}

.icons{
    display: flex;
    justify-content: center;
    margin-top: 4px;
    gap: 30px;
}
.custom-input-field{
    width: 300px;
}
.btns{
    display: flex;
    gap: 2px;
    align-items: center;
}

.icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 21%;
    /* margin-top: 2rem; */
}
.kane{
    width: 90px;
    height: 30px;
    border-radius: 15px;
    background-color: #6966FF;
    border: 1px solid #6966FF;
    color: white;
    font-size: 15px;
    text-align: center;
    position: absolute;
    right: 1%;

    /* margin-top: 2rem; */
}
