<!-- (modalClosed)="onModalClosed()" -->
<!--
<p-dialog header="Add Rack" [(visible)]="displayResponsive">
    <div style="width: 600px">
        <div class="app-modal-body">
            <form autocomplete="off" [formGroup]="createRackForm" class="createform">
                <div class="popup">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" style="color: white">Rack Name</label>
                                    <input
                                        type="text"
                                        style="color:#fff;"
                                        formControlName="rackName"
                                        name="rackName"
                                        class="form-control"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" style="color: #fff"><strong>rackRfid</strong></label>
                                    <input
                                        type="text"
                                        style="color:#fff;"
                                        formControlName="rackRfid"
                                        name="rackRfid"
                                        class="form-control"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" style="color: #fff"><strong>rackQrc</strong></label>
                                    <input
                                        type="text"
                                        style="color:#fff;"
                                        formControlName="rackQrc"
                                        name="rackQrc"
                                        class="form-control"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" style="color: white"><strong>rackNfc</strong></label>
                                    <input type="text"
                                    style="color:#fff;" formControlName="rackNfc" name="rackNfc" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" style="color: #fff"><strong>rackBarcode</strong></label>
                                    <input
                                        type="text"
                                        style="color:#fff;"
                                        formControlName="rackBarcode"
                                        name="rackBarcode"
                                        class="form-control"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <div class="mt-6">
                                        <label class="title">comGen</label>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                        <div class="switch_box box_1 mt-6">
                                            <input
                                                type="checkbox"
                                                class="switch_1"
                                                formControlName="comGen"
                                                id="comGen"
                                            />
                                        </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 float-right text-center mt-5 mb-5">
                            <button
                                type="submit"
                                class="btn rounded-pill"
                                style="
                                    background: linear-gradient(180deg, #b7a643 0%, #8a8f35 100%);
                                    border: 2px solid #566931;
                                    box-sizing: border-box;
                                    border-radius: 30px;
                                    color: #ffffff;
                                "
                                (click)="submit()"
                            >
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</p-dialog> -->
