
<div class="parent">
    <div class="child">
        <div class="year-btn">Year</div>
        <div class="crime">Crime-Nature</div>
        <div class="region">Region</div>
    </div>

    <div class="btns">
        <button class="b1"><img src="../../../../assets/svgImages/clander.png" alt="calender" class="calender">
             2021<i class="fa fa-times" aria-hidden="true"></i>
    </button>

        <button class="b2"><img src="../../../../assets/svgImages/clander.png" alt="calender" class="calender">
            ALL<i class="fa fa-times" aria-hidden="true"></i>
        </button>

        <button class="b2"><img src="../../../../assets/svgImages/clander.png" alt="calender" class="calender">
            ALL<i class="fa fa-times" aria-hidden="true"></i>
        </button>

        <i class="fa fa-caret-down" aria-hidden="true"></i>

    </div>



    <div class="header">
    <h2 class="heading">Criminal trends in this year</h2>
    <img src="../../../../assets/icon-after-headings.png" alt="icon-after-headings" class="icon-after-headings">
    </div>
    


<div class="dashboard">
    <button class="button btn-bur"><p class="text pl-4">267</p>
        <div class="btn-text pt-2"> Burglury </div>
    <img src="../../../../assets/burglary.png" alt="burlary-image" class="burglary-image">
    </button>
    
    <button class="button btn-ar">
        <p class="text-129">129</p>
       <div class="btn-text-arm ">Armed Robbery</div> 
       <img src="../../../../assets/armed.png" alt="armed-image" class="armed-image">
    </button>

    <button class="button btn-th"><p class="text">77</p>
        <div class="btn-text">Theft </div>
     <img src="../../../../assets/theft.png" alt="theft-image" class="theft-image">
    </button>

    <button class="button btn-sh"><p class="text">10</p>
        <div class="btn-text">Shooting</div>  
        <img src="../../../../assets/gun.png" alt="gun-image" class="gun-image">
    </button>

    <button class="button btn-ot"><p class="text">100</p>
    <div class="btn-text">Others</div>
    <img src="../../../../assets/other.png" alt="other-image" class="other-image"> 
    </button>
</div>
</div>