
<div class="parent">
    <div class="child">
        <div class="year-btn">Year</div>
        <div class="crime">Crime-Nature</div>
        <div class="region">Region</div>
    </div>

    <div class="btns">
        <button class="b1">2021</button>
        <button class="b2">ALL</button>
        <button class="b2">ALL</button>
        <img src="../../../../assets/Vector.png" alt="Down arrow" class="down-arrow">

    </div>



    <div class="header">
    <h2 class="heading">Criminal trends in this year</h2>
    <img src="../../../../assets/icon-after-headings.png" alt="icon-after-headings" class="icon-after-headings">
    </div>
    


<div class="dashboard">
    <button class="button btn-bur"><p class="text">267</p> Burglury</button>
    <button class="button btn-ar">
        <p class="text-129">129</p>
        <img src="../../../../assets/armed_robbery.png" alt="armed_robbery" class="armed_robbery">
        Armed Robbery
    </button>
    <button class="button btn-th"><p class="text">77</p>Theft</button>
    <button class="button btn-sh"><p class="text">10</p>Shooting</button>
    <button class="button btn-ot"><p class="text">100</p>Others</button>
</div>
</div>