<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="row mt-3 ">
    <div class="col-md-3 pl-0 col-md-3 pl-0 pr-0">
        <div class="card bg-custom-top-parties">
            <div class="row text-center pt-3">
            <div class="col-md-4">
                <h4 class="text-custom-top-parties-dark">3</h4>
            </div>
            <div class="col-md-8">
                <h4 class="text-custom-top-parties-dark">Top Parties</h4>
            </div>
            <div class="col-md-12">
                <h6 class="text-custom-top-parties-light">Out of 10 Total Parties</h6>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-9 pl-0 mt-4 pr-0">
        <div class="col-md-3">
            <form>
                <input type="search" placeholder="Search...">
                <button type="submit">Search</button>
              </form>
        </div>
        <div class="col-md-3 pl-0">
          <div class="dropdown p-2 pb-4 analytics-sortbyparties-dropdown">
              <a class="fs-07" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="text-custom-danger mr-3 text-uppercase"><b>Sort By Parties </b>
                      </span>
                      <img src="/assets/Dashboard/Vector.png" width="15">
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="javascript:void(0)">
                  <span class="text-custom-danger text-uppercase">Polling Unit</span>
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <span class="text-custom-danger text-uppercase">Parties</span>
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <span class="text-custom-danger text-uppercase">Election Position</span>
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <span class="text-custom-danger text-uppercase">Area</span>
                </a>
                <a class="dropdown-item" href="javascript:void(0)">

                </a>
              </div>
            </div>

  </div>
        <div class="col-md-3 pl-0 pr-0">
          <div class="dropdown2 pb-2 pt-2 text-center">
              <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="election-category-title2">
                    <i class="fas fa-pie-chart text-custom-danger mr-3"></i>
                    <b>View:Chart </b>
                      <i class="fas fa-ellipsis-v text-custom-danger ml-3"></i>
                  </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item dropdown2" href="javascript:void(0)">
                  <span class="election-category-title2 text-custom-danger">
                    <i class="fa fa-table text-custom-danger mr-3"></i>
                    <b>Table</b>
                  </span>
                </a>
                <a class="dropdown-item dropdown2" href="javascript:void(0)">
                  <span class="election-category-title2 text-custom-danger">
                    <i class="fa fa-pie-chart text-custom-danger mr-3"></i>
                    <b>Chart</b>
                  </span>
                </a>
              </div>
            </div>
        </div>
        <div class="col-md-1">
          <a href="javascript:void" class="btn btn-circle"><i class="fa fa-refresh fa-2x"></i></a>
        </div>
        <div class="col-md-1">
          <a href="javascript:void" class="btn btn-circle"><i class="fa fa-print fa-2x"></i></a>
        </div>
        <div class="col-md-1">
          <a href="javascript:void" class="btn btn-circle"><i class="fa fa-download fa-2x"></i></a>
        </div>
    </div>
    <div class="col-md-3 pl-0 col-md-3 pl-0 pr-0">
      <div class="card bg-custome-activity">
          <div class="row  pt-3">
          <div class="col-md-12 text-center mb-4">
              <h5 class="text-custom-top-parties-dark">Top Candidate States
                <i class="text-custom-top-parties-dark" class="fas fa-ellipsis-v ml-3"></i>
              </h5>
          </div>
          <div class="col-md-9 ml-10 mb-5 bb1-primary"></div>
          <div class="col-md-11 ml-3">
            <div class="card p-3 mb-2 bg-custom-poling">
                <div class="row">
                    <div class="col-9">
                        <h6 class="text-custom-primary fs-11">Total: 7000</h6>
                    </div>
                    <div class="col-3">
                        <svg _ngcontent-xoj-c216="" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-xoj-c216="" d="M0.5 17.5V4.5L4.5 7.5L9.5 0.5L14.5 4.5H18.5V17.5H0.5ZM5.5 14.5L9.5 9L16.5 14.45V6.5H13.8L9.9 3.375L4.95 10.325L2.5 8.5V12.1L5.5 14.5Z" fill="#FF2D55"></path></svg>
                    </div>
                    <div class="col-9">
                        <h6 class="text-custom-primary fs-09"><b>Polling Unit W4/01</b></h6>
                    </div>
                    <div class="col-3 pr-0">
                        <h5 class="text-custom-primary fs-09"><b>479</b></h5>
                    </div>
                    <div class="col-12 text-center">
                        <h6 class="mr-5">Emmanuel
                        <span class="ml-5"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 12.5C0.5 18.0548 3.86 22.7615 8.5 24.5V0.5C3.86 2.23852 0.5 6.94523 0.5 12.5ZM24.5 12.5C24.5 6.94523 21.18 2.23852 16.5 0.5V24.5C21.18 22.7615 24.5 18.0548 24.5 12.5Z" fill="#83BF4F"/>
                            </svg></span>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="card p-3 mb-2 bg-custom-poling">
                <div class="row">
                    <div class="col-9">
                        <h6 class="text-custom-primary fs-11">Total: 7000</h6>
                    </div>
                    <div class="col-3">
                        <svg _ngcontent-xoj-c216="" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-xoj-c216="" d="M0.5 17.5V4.5L4.5 7.5L9.5 0.5L14.5 4.5H18.5V17.5H0.5ZM5.5 14.5L9.5 9L16.5 14.45V6.5H13.8L9.9 3.375L4.95 10.325L2.5 8.5V12.1L5.5 14.5Z" fill="#FF2D55"></path></svg>
                    </div>
                    <div class="col-9">
                        <h6 class="text-custom-primary fs-09"><b>Polling Unit W4/01</b></h6>
                    </div>
                    <div class="col-3 pr-0">
                        <h5 class="text-custom-primary fs-09"><b>700</b></h5>
                    </div>
                    <div class="col-12 text-center">
                        <h6 class="mr-5">Emmanuel
                        <span class="ml-5"><img width="40" src="/assets/Dashboard/pakflag.PNG"></span>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="card p-3 mb-2 bg-custom-poling">
                <div class="row">
                    <div class="col-9">
                        <h6 class="text-custom-primary fs-11" >Total: 7000</h6>
                    </div>
                    <div class="col-3">
                        <svg _ngcontent-xoj-c216="" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-xoj-c216="" d="M0.5 17.5V4.5L4.5 7.5L9.5 0.5L14.5 4.5H18.5V17.5H0.5ZM5.5 14.5L9.5 9L16.5 14.45V6.5H13.8L9.9 3.375L4.95 10.325L2.5 8.5V12.1L5.5 14.5Z" fill="#FF2D55"></path></svg>
                    </div>
                    <div class="col-9">
                        <h6 class="text-custom-primary fs-09"><b>Polling Unit W4/01</b></h6>
                    </div>
                    <div class="col-3 pr-0">
                        <h5 class="text-custom-primary fs-09"><b>897</b></h5>
                    </div>
                    <div class="col-12 text-center">
                        <h6 class="mr-5">Emmanuel
                        <span class="ml-5"><img width="40" src="/assets/Dashboard/pakflag2.PNG"></span>
                        </h6>
                    </div>
                </div>
            </div>
          </div>
      </div>
      </div>
  </div>
  <div class="col-md-9 pl-0 mt-4 pr-0">
    <div class="row pl-7">
      <div class="col-md-6 p-2 bg-custom-analytics br-15">
        <h5 class="text-custom-primary mb-0">Vote Sorting By Party <span class="text-custom-primary ml-15">2023</span></h5>
      </div>
      <div class="col-md-3">
        <a href="javascript:void" class="btn btn-block btn-outline-success br-20">low activity</a>
      </div>
      <div class="col-md-3">
        <a href="javascript:void" class="btn btn-block btn-outline-danger br-20">High activity</a>
      </div>
      <div class="col-md-12 pl-5 mt-5">
        <p-chart type="bar" [data]="partyActivityData" [options]="partyActivityOptions"></p-chart>
      </div>
    </div>
  </div>
</div>

