<div class="incedent-detail">
    <p-tabView>
        <p-tabPanel header="INCIDENTS">
            <app-incidents></app-incidents>
        </p-tabPanel>
        <p-tabPanel header="RESCUE OPERATIONS">
            <app-rescue-operations></app-rescue-operations>
        </p-tabPanel>
        <p-tabPanel header="LIVE FEED">
            <app-incident-livefeed></app-incident-livefeed>  
        </p-tabPanel>
        <p-tabPanel header="MEMBERS">
            <app-incident-members></app-incident-members> 
        </p-tabPanel>
    </p-tabView>
</div>
