::ng-deep .incedent-detail .p-tabview-title {
    line-height: 1;
    font-family: 'Inter' !important;
    font-weight: 700 !important;
    font-size: 1rem !important;
    align-items: center !important;
    color: #6966FF !important;
    cursor: pointer;
}

::ng-deep .incedent-detail .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: #F0EEFC !important;
    border-radius: 5px !important;
}

::ng-deep .incedent-detail .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff;
    border-color: #0078d4 !important;
    border: 1px solid #0078d4 !important;
    color: #0078d4 !important; 
}

::ng-deep .incedent-detail ul.p-tabview-nav li:first-child span {
    background-image: url(/assets/svgfortabs/local_pharmacy.svg) !important;
    background: no-repeat;
    padding-left: 50px;
    background-size: 9px;
    font-size:0.9rem !important;
  }
  ::ng-deep .incedent-detail ul.p-tabview-nav li:first-child {
      width: 25% ;
  }
  ::ng-deep .incedent-detail ul.p-tabview-nav li:nth-child(2) {
    width: 25%;
  }
  ::ng-deep .incedent-detail ul.p-tabview-nav li:nth-child(3) {
    width: 25%;
  }
  ::ng-deep .incedent-detail ul.p-tabview-nav li:nth-child(4) {
    width: 25%;
  }
  ::ng-deep .incedent-detail ul.p-tabview-nav li:nth-child(2) span {
    background-image: url(/assets/svgfortabs/how_to_vote.svg) !important;
    background: no-repeat;
    padding-left: 20px;
    background-size: 12px;
    font-size:0.9rem !important;
  }
  ::ng-deep .incedent-detail ul.p-tabview-nav li:nth-child(3) span {
    background-image: url(/assets/svgfortabs/video_call.svg) !important;
    background: no-repeat;
    padding-left: 50px;
    background-size: 12px;
    font-size:0.9rem !important;
  }
  ::ng-deep .incedent-detail ul.p-tabview-nav li:nth-child(4) span {
    background-image: url(/assets/svgfortabs/woman.svg) !important;
    background: no-repeat;
    padding-left: 50px;
    background-size: 10px;
    font-size:0.9rem !important;
  }