.rt-border{
    border-right: 2px #213315 solid;
}
.grid-elipse{
    background: #294416;
     border-radius: 50%;
      text-align: center;
}
.comment1 {
    background: #C5E0B4;
    border-radius: 11px;
    font-size: 10px;
    padding: 7px;
}

.comment1>p {
    color: #111;
}
.bg-grey-btn{
    background-color: #3C593482;
    border: 2px solid #376419;
    border-radius: 22px;
}
::ng-deep .storegrid .p-inputswitch .p-inputswitch-slider:before{
    background: #4F8B3B;
}
::ng-deep .storegrid .p-inputswitch .p-inputswitch-slider{
    background: #405838;
}
::ng-deep .storegrid .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    background: #4F8B3B;
}
::ng-deep .storegrid .p-checkbox .p-checkbox-box {
    background: #638b49;
}
::ng-deep .storegrid .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #12B28C !important;
    background: #12B28C;
}
.hr{
    background: #ffffff;
}
::ng-deep .yellow-grid{
    background: linear-gradient(359.66deg, rgba(33, 51, 21, 0.9) -11.74%, rgba(183, 166, 67, 0.82) 111.45%) !important
}
::ng-deep .yellow-grid .border-green{
    border-left: 2px #213315 solid !important;
     word-break: break-all !important;
}
::ng-deep .yellow-grid .gridheader2 {
    background: #3D460D !important;
    border-bottom-color: black !important;
    color: #ffffff !important;
    text-align: center !important;
}

::ng-deep .yellow-grid .body-td>td {
    border-bottom-color: black !important;
    text-align: center !important;
    color: rgb(241, 239, 239) !important;
}
::ng-deep .yellow-grid .bg-grey-btn {
    background: #294416 !important;
}
::ng-deep .yellow-grid .tool-cr{
    background: #E49E1B !important;
    border-radius: 49px !important;
    height: 20px !important;
    line-height: 0px !important;
}
::ng-deep .yellow-grid .sub-table2-odd {
    background: #6D773A!important;
}
::ng-deep .yellow-grid .sub-table2-even {
    background: #7C7D53!important;
}
::ng-deep .cardView-grid .p-datatable-scrollable-body .cardTr{
background : #9d8e3c!important;
backdrop-filter : blur(4px) !important;
border-radius : 23px !important;
}
.statusBtn {
    background-color: #60AA33 !important;
    border-radius: 5px;
    padding: 2px 4px;
}
.refBtn{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
text-shadow: 0px 0px 5px #FFFFFF;
background: none !important;
border: none !important;
padding: 2px;
}
.profilePhoto{
    position: absolute;
    bottom: 4px;
    left: 37px;
    width: 56%;
    max-width: 54%;
    max-height: 62px;
}
.priority_circle {
    width: 35px;
    margin-right: 10px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: white;
    border: 1px solid #FFA600;
    background-color: #FFA600;
}
.priority_circle-left{
    width: 24px;
    margin-right: 10px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: white;
    border: 1px solid #C5E0B4;
    background-color: #C5E0B4;
}
.status{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
letter-spacing: -0.01em;
text-transform: uppercase;
font-feature-settings: 'cpsp';
color: #E8C40B;
}

hr{ 
  
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         10vh;
    width:          1px;   
    margin: 0;
}

::ng-deep .green-grid{
    background: linear-gradient(359.66deg, rgba(33, 51, 21, 0.9) -11.74%, rgba(183, 166, 67, 0.82) 111.45%) !important
}
::ng-deep .green-grid .border-green{
     word-break: break-all !important;
}
::ng-deep .green-grid .gridheader2 {
    background: #344D2C !important;
    border-bottom-color: #344D2C !important;
    color: #ffffff !important;
    text-align: center !important;
}

::ng-deep .green-grid .body-td>td {
    text-align: center !important;
    color: rgb(241, 239, 239) !important;
}
::ng-deep .green-grid .bg-grey-btn {
    background: #294416 !important;
}

::ng-deep .green-grid .sub-table2-odd {
    background: #6D773A!important;
}
::ng-deep .green-grid .sub-table2-even {
    background: #7C7D53!important;
}
::ng-deep .green-grid .p-datatable .p-datatable-tbody > tr{
    background: #213315 !important;
}

.menu ul li {
    list-style: none;
    margin: 0 8px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
color: #FFFFFF;
text-shadow: 0px 0px 5px #FFFFFF;
}

::ng-deep .p-datatable-thead {
    background-color: #213315 !important;
}

.row-menu a {
    padding: 0 14px;
    margin: 0 7px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 10px;
background: #57660D;
    border-radius: 12px;
line-height: 23px;
letter-spacing: -0.01em;
color: #FFFFFF;
}

.row-h{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
letter-spacing: -0.01em;

color: #E8C40B;
}

.row-d{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
text-align: center;
letter-spacing: -0.01em;

color: #F7F6F3;
}

.title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
/* identical to box height */

letter-spacing: -0.01em;

color: #E8C40B;
}

.title-d{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
/* identical to box height */

letter-spacing: -0.01em;

color: #FFFFFF;
}

.list-t{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 13px;
letter-spacing: -0.01em;

color: #E8C40B;
}

.statush{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
/* identical to box height */

letter-spacing: -0.01em;
font-variant: small-caps;
font-feature-settings: 'pnum' on, 'lnum' on, 'cpsp' on;

color: #E8C40B;
}

.btn-menu{
    padding: 0 10px;
    margin: 0 4px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
font-variant: small-caps;
font-feature-settings: 'pnum' on, 'lnum' on;
background: #60AA33;
border-radius: 5px;
color: #FFFFFF;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #0000006B;
    display: inline-block;
    position: absolute;
    left: 24px;
    width: 2px;
    height: 50%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: #351EC3;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 10px;
    height: 10px;
    z-index: 400;
}

.m-class{
    font-weight: 800;
    font-size: 20px;
    letter-spacing: -0.01em;
    padding: 4px;
    color: #FFFFFF;
    background-color: #B4C948;
    border-radius: 20px;
}

.age-class{
    font-weight: 800;
    font-size: 20px;
    letter-spacing: -0.01em;
    padding: 4px;
    color: #FFFFFF;
    background-color: #B4C948;
    border-radius: 20px;
    margin: 0 10px;
}

.active1{
    border-bottom: 1px solid rgba(155, 255, 153, 1);
    transform: matrix(1, 0.01, 0, 1, 0, 0);
}

li a{
 color: #fff; 
 text-decoration: none; 
 background-color: transparent; 
 cursor: pointer;
}

.card_menu ul li {
    list-style: none;
    margin: 0 4px;
    padding: 0;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
color: #FFFFFF;
text-shadow: 0px 0px 5px #FFFFFF;
}