<!-- <style>
    .spinner-img {
        height: 20vh;
        width: 20vh;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: red;
    }
</style>
<p-dialog header="Create Antenna WareHouse" [(visible)]="displayResponsive">
    <form autocomplete="off" [formGroup]="createAntennaWarehouseForm" class="createform" style="padding: 20px">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label><strong style="color: #fff">WareHouse</strong></label>
                    <div class="border1 mb-3">
                        <p-dropdown
                            [options]="wareHouseList"
                            formControlName="wareHouseId"
                            class="dropdown"
                            name="wareHouseId"
                            optionLabel="name"
                            [style]="{ width: '100%' }"
                            styleClass="form-control"
                            optionValue="code"
                        ></p-dropdown>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="form-group">
                    <label><strong style="color: #fff">Antenna Zone</strong></label>
                    <input
                        style="
                            height: 45px;
                            border: 1px solid #676c3d;
                            background: #918d4e;
                            box-sizing: border-box;
                            border-radius: 10px;
                            color:#ffffff;
                        "
                        class="form-control"
                        type="text"
                        tabindex="1"
                        formControlName="antennaZone"
                        name="antennaZone"
                        [ngClass]="{ 'is-invalid': submitted && f.antennaZone.errors }"
                    />
                    <div *ngIf="submitted && f.antennaZone.errors" class="invalid-feedback">
                        <div *ngIf="f.antennaZone.errors.required">Antenna Name is required</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-4">
                <div class="mt-4">
                    <label class="title">IsActive</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mt-4">
                    <div class="switch_box box_1">
                        <p-inputSwitch onLabel="Y" offLabel="N" (onChange)="handleChange($event)" formControlName="isActive" name="isActive" ></p-inputSwitch>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label><strong style="color: #fff">Rack</strong></label>
                    <div class="border1 mb-3">
                        <p-dropdown
                            [options]="racklist"
                            formControlName="rackId"
                            class="dropdown"
                            name="rackId"
                            optionLabel="name"
                            [style]="{ width: '100%' }"
                            styleClass="form-control"
                            optionValue="code"
                        ></p-dropdown>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label><strong style="color: #fff">Rack Compartment</strong></label>
                    <div class="border1 mb-3">
                        <p-dropdown
                            [options]="rackCompartmentList"
                            formControlName="rackCompartmentId"
                            class="dropdown"
                            name="rackCompartmentId"
                            optionLabel="name"
                            [style]="{ width: '100%' }"
                            styleClass="form-control"
                            optionValue="code"
                        ></p-dropdown>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label><strong style="color: #fff">Device Anteena</strong></label>
                    <div class="border1 mb-3">
                        <p-dropdown
                            [options]="deviceList"
                            formControlName="antennaId"
                            class="dropdown"
                            name="antennaId"
                            optionLabel="name"
                            [style]="{ width: '100%' }"
                            styleClass="form-control"
                            optionValue="code"
                        ></p-dropdown>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3 mt-5" style="float: right">
                <button
                    type="submit"
                    class="btn rounded-pill"
                    style="
                        width: 88px;
                        height: 45px;

                        background: #787735;
                        border: 1px solid #9db186;
                        box-sizing: border-box;
                        border-radius: 10px;
                        color: #ffffff;
                    "
                    (click)="submit()"
                >
                    Submit
                </button>
            </div>
        </div>
    </form>
</p-dialog> -->
