<div class="col-md-2 p-0 pl-1 pr-1 rectangle-1">
        <div class="row p-3">
            <div class="col-md-2">
                <span style="font-size: 19px;"><i class="fa {{icon}} rectangle-1-icon color-yellow" style="font-size: 24px;"></i></span>
            </div>
            <div class="col-md-8">
                <span class="rectangle-1-text">{{text}}</span>
            </div>
             <div class="col-md-2" > <!--//style="text-align: end;-->
                <span class="rectangle-1-counter-value">{{count}}</span>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
            </div>
             <div class="col-md-2" > <!--//style="text-align: end;-->
                <span class="rectangle-1-counter">{{percentage}}</span>
            </div>
        </div>

</div>
