<div class="row pt-5">
    <div class="col-md-2 welcome-message">Welcome Jane</div>
    <div class="col-md-3">
        <div class="input-group">
            <input type="search" id="form1" class="form-control" placeholder="Search Category" aria-label="Search" />
            <span class="input-group-btn">
                <button class="btn btn-default bg-white" type="button">
                    <i class="fa fa-search text-custom-danger"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-2 pl-9">
        <div class="dropdown2 p-2 pb-4 rescue-filter-dropdown">
            <a
                class="fs-07"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <span class="text-custom-danger mr-3 text-uppercase fs-09"><b>RESCUE </b> </span>
                <img src="/assets/Dashboard/Vector.png" width="15" class="float-right mt-1" />
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item bg-custom-dropdown" href="javascript:void(0)">
                    <span class="text-custom-danger text-uppercase"><b>Incident Type</b></span>
                </a>
                <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                    <input
                        type="checkbox"
                        name="checkbox"
                        class="checkbox_id"
                        id="RescueFilter"
                        style="width: 4px"
                        value="value"
                    />
                    <label for="RescueFilter" class="rescue-filter-label">
                        <span class="text-uppercase text-custom-danger font-bold">Sos </span>
                    </label>
                </a>
                <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                    <input
                        type="checkbox"
                        name="checkbox"
                        class="checkbox_id"
                        id="RescueFilter"
                        style="width: 4px"
                        value="value"
                    />
                    <label for="RescueFilter" class="rescue-filter-label">
                        <span class="text-uppercase text-custom-danger font-bold">Armed Robbery </span>
                    </label>
                </a>
                <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                    <input
                        type="checkbox"
                        name="checkbox"
                        class="checkbox_id"
                        id="RescueFilter"
                        style="width: 4px"
                        value="value"
                    />
                    <label for="RescueFilter" class="rescue-filter-label">
                        <span class="text-uppercase text-custom-danger font-bold">Huricane </span>
                    </label>
                </a>
                <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                    <input
                        type="checkbox"
                        name="checkbox"
                        class="checkbox_id"
                        id="RescueFilter"
                        style="width: 4px"
                        value="value"
                    />
                    <label for="RescueFilter" class="rescue-filter-label">
                        <span class="text-uppercase text-custom-danger font-bold">Vehicle Accident </span>
                    </label>
                </a>
                <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                    <input
                        type="checkbox"
                        name="checkbox"
                        class="checkbox_id"
                        id="RescueFilter"
                        style="width: 4px"
                        value="value"
                    />
                    <label for="RescueFilter" class="rescue-filter-label">
                        <span class="text-uppercase text-custom-danger font-bold">Fire Incident </span>
                    </label>
                </a>
                <a class="dropdown-item bg-custom-dropdown" href="javascript:void(0)">
                    <span class="text-custom-danger text-uppercase"><b>Incident Nature</b></span>
                </a>
                <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                    <input
                        type="checkbox"
                        name="checkbox"
                        class="checkbox_id"
                        id="RescueFilter"
                        style="width: 4px"
                        value="value"
                    />
                    <label for="RescueFilter" class="rescue-filter-label">
                        <span class="text-uppercase text-custom-danger font-bold">Mild </span>
                    </label>
                </a>
                <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                    <input
                        type="checkbox"
                        name="checkbox"
                        class="checkbox_id"
                        id="RescueFilter"
                        style="width: 4px"
                        value="value"
                    />
                    <label for="RescueFilter" class="rescue-filter-label">
                        <span class="text-uppercase text-custom-danger font-bold">Serious </span>
                    </label>
                </a>
                <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                    <input
                        type="checkbox"
                        name="checkbox"
                        class="checkbox_id"
                        id="RescueFilter"
                        style="width: 4px"
                        value="value"
                    />
                    <label for="RescueFilter" class="rescue-filter-label">
                        <span class="text-uppercase text-custom-danger font-bold">Harsh </span>
                    </label>
                </a>
                <a class="dropdown-item" href="javascript:void(0)" style="background: #fdfdfd">
                    <span class="text-custom-danger text-uppercase"><b>Priority Level</b></span>
                </a>
                <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                    <input
                        type="checkbox"
                        name="checkbox"
                        class="checkbox_id"
                        id="RescueFilter"
                        style="width: 4px"
                        value="value"
                    />
                    <label for="RescueFilter" class="rescue-filter-label">
                        <span class="text-uppercase text-custom-danger font-bold">Emergency </span>
                    </label>
                </a>
                <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                    <input
                        type="checkbox"
                        name="checkbox"
                        class="checkbox_id"
                        id="RescueFilter"
                        style="width: 4px"
                        value="value"
                    />
                    <label for="RescueFilter" class="rescue-filter-label">
                        <span class="text-uppercase text-custom-danger font-bold">Urgency </span>
                    </label>
                </a>
                <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                    <input
                        type="checkbox"
                        name="checkbox"
                        class="checkbox_id"
                        id="RescueFilter"
                        style="width: 4px"
                        value="value"
                    />
                    <label for="RescueFilter" class="rescue-filter-label">
                        <span class="text-uppercase text-custom-danger font-bold">Quick </span>
                    </label>
                </a>
                <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                    <button class="btn btn-block btn-sm btn-custom-apply">
                        <span class="text-uppercase text-custom-danger font-bold">Apply </span>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3 pl-9">
        <div class="dropdown show">
            <a
                class=""
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <div class="navbar-textCustom navbarText pt-1 pb-1 pl-3 pr-3 float-left">
                    <img
                        class="navbar-img"
                        [src]="profilePicture"
                    />
                    <span class="navbar-img-span mr-5 ml-5">SWITCH TO OTHER MODULE</span>
                    <img src="../../../assets/Dashboard/ArrowDownDashboard.png" />
                </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <span class="dropdown-item cursor" routerLink="/home/dashboard">Election Monitor</span>
                <span class="dropdown-item cursor" routerLink="/home/dashboard">Election Reporting</span>
                <span class="dropdown-item cursor">Emergency</span>
                <span class="dropdown-item cursor" routerLink="/home/incident">Incident</span>
                <span class="dropdown-item cursor" routerLink="/home/asset-tracker">Asset Tracker</span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        
        <button class="btn btn-primary btn-block">
            <img src="../../../assets/pending_actions.png" alt="pending_actions" class="pending_actions-image">
            CREATE INCIDENT</button>
    </div>
</div>
<div class="row">
    <div class="col-md-8 mb-3">
        <app-incident-operation></app-incident-operation>
        <div class="card">
            <div class="card-body">
                <app-incedent-details></app-incedent-details>
            </div>

        </div>
    </div>
    <div class="col-md-4 mt-5">
        <app-election-livefeeds #livefeedComponent feedName="rescue"></app-election-livefeeds>
    </div>

    <div class="col-md-12 mt-3">
        <app-incident-table></app-incident-table>
    </div>
</div>
