<div class="row">
    <div class="col-md-12 pl-0">
        <div class="text-center dropdown text-custom-danger mb-2">
            <span class="election-category-title text-uppercase">POLLING ACTIVITY TIMELINE <i class="fas fa-external-link-alt ml-3 text-custom-danger"></i></span>
        </div>
    </div>
</div>
<!-- Faizan -->
<div class="row pr-4 pl-3 pt-0 pb-0 card-with-scrol">
    <div class="row pb-3 mb-2 pt-2 mt-2 bg-polling-timeline">
        <div class="col-md-12">
            <h6 class="text-custom-primary fs-07">
                LGA / LCA - &nbsp;&nbsp;&nbsp; 36 | 123,355,000 VOTES
            </h6>
            <h6 class="text-custom-danger fs-07">
                Polling Unit &nbsp;&nbsp;&nbsp; 300 | 9000 STATIONS
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                Polling Unit W4/01
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                134
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                132,000 Vote
            </h6>
        </div>
        <div class="col-md-9">
            <input type="range" value="80" min="0" max="100" class="slider" id="customRange1">
        </div>
        <div class="col-md-2 pl-0">
            <h6 class="text-custom-primary fs-04">
                80 Vote
            </h6>
        </div>
        <div class="col-md-1 pl-0">
            <span class="badge badge-pill badge-primary align-top fs-04">1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="col-md-9">
            <input type="range" value="40" min="1" max="100" class="slider" id="customRange2">
        </div>
        <div class="col-md-2 pl-0">
            <h6 class="text-custom-primary fs-04">
                40 Vote
            </h6>
        </div>
        <div class="col-md-1 pl-0">
            <span class="badge badge-pill badge-primary align-top fs-04">2 &nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="col-md-9">
            <input type="range" value="20" min="1" max="100" class="slider" id="customRange3">
        </div>
        <div class="col-md-2 pl-0">
            <h6 class="text-custom-primary fs-04">
                20 Vote
            </h6>
        </div>
        <div class="col-md-1 pl-0">
            <span class="badge badge-pill badge-primary align-top fs-04">3 &nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                Total Valid Vote: 960
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                View BreakDown
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                Total Cancenled Vote: 562
            </h6>
        </div>

    </div>
    <div class="row pb-3 mb-2 pt-2 mt-2 bg-polling-timeline">
        <div class="col-md-12">
            <h6 class="text-custom-primary fs-07">
                LGA / LCA - &nbsp;&nbsp;&nbsp; 36 | 123,355,000 VOTES
            </h6>
            <h6 class="text-custom-danger fs-07">
                Polling Unit &nbsp;&nbsp;&nbsp; 300 | 9000 STATIONS
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                Polling Unit W4/01
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                134
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                132,000 Vote
            </h6>
        </div>
        <div class="col-md-9">
            <input type="range" value="90" min="0" max="100" class="slider" id="customRange1">
        </div>
        <div class="col-md-2 pl-0">
            <h6 class="text-custom-primary fs-04">
                90 Vote
            </h6>
        </div>
        <div class="col-md-1 pl-0">
            <span class="badge badge-pill badge-primary align-top fs-04">1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="col-md-9">
            <input type="range" value="60" min="1" max="100" class="slider" id="customRange2">
        </div>
        <div class="col-md-2 pl-0">
            <h6 class="text-custom-primary fs-04">
                60 Vote
            </h6>
        </div>
        <div class="col-md-1 pl-0">
            <span class="badge badge-pill badge-primary align-top fs-04">2 &nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="col-md-9">
            <input type="range" value="30" min="1" max="100" class="slider" id="customRange3">
        </div>
        <div class="col-md-2 pl-0">
            <h6 class="text-custom-primary fs-04">
                30 Vote
            </h6>
        </div>
        <div class="col-md-1 pl-0">
            <span class="badge badge-pill badge-primary align-top fs-04">3 &nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                Total Valid Vote: 960
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                View BreakDown
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                Total Cancenled Vote: 562
            </h6>
        </div>

    </div>
    <div class="row pb-3 mb-2 pt-2 mt-2 bg-polling-timeline">
        <div class="col-md-12">
            <h6 class="text-custom-primary fs-07">
                LGA / LCA - &nbsp;&nbsp;&nbsp; 36 | 123,355,000 VOTES
            </h6>
            <h6 class="text-custom-danger fs-07">
                Polling Unit &nbsp;&nbsp;&nbsp; 300 | 9000 STATIONS
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                Polling Unit W4/01
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                134
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                132,000 Vote
            </h6>
        </div>
        <div class="col-md-9">
            <input type="range" value="10" min="0" max="100" class="slider" id="customRange1">
        </div>
        <div class="col-md-2 pl-0">
            <h6 class="text-custom-primary fs-04">
                10 Vote
            </h6>
        </div>
        <div class="col-md-1 pl-0">
            <span class="badge badge-pill badge-primary align-top fs-04">1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="col-md-9">
            <input type="range" value="40" min="1" max="100" class="slider" id="customRange2">
        </div>
        <div class="col-md-2 pl-0">
            <h6 class="text-custom-primary fs-04">
                40 Vote
            </h6>
        </div>
        <div class="col-md-1 pl-0">
            <span class="badge badge-pill badge-primary align-top fs-04">2 &nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="col-md-9">
            <input type="range" value="70" min="1" max="100" class="slider" id="customRange3">
        </div>
        <div class="col-md-2 pl-0">
            <h6 class="text-custom-primary fs-04">
                70 Vote
            </h6>
        </div>
        <div class="col-md-1 pl-0">
            <span class="badge badge-pill badge-primary align-top fs-04">3 &nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                Total Valid Vote: 960
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                View BreakDown
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                Total Cancenled Vote: 562
            </h6>
        </div>

    </div>
    <div class="row pb-3 mb-2 pt-2 mt-2 bg-polling-timeline">
        <div class="col-md-12">
            <h6 class="text-custom-primary fs-07">
                LGA / LCA - &nbsp;&nbsp;&nbsp; 36 | 123,355,000 VOTES
            </h6>
            <h6 class="text-custom-danger fs-07">
                Polling Unit &nbsp;&nbsp;&nbsp; 300 | 9000 STATIONS
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                Polling Unit W4/01
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                134
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                132,000 Vote
            </h6>
        </div>
        <div class="col-md-9">
            <input type="range" value="80" min="0" max="100" class="slider" id="customRange1">
        </div>
        <div class="col-md-2 pl-0">
            <h6 class="text-custom-primary fs-04">
                80 Vote
            </h6>
        </div>
        <div class="col-md-1 pl-0">
            <span class="badge badge-pill badge-primary align-top fs-04">1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="col-md-9">
            <input type="range" value="40" min="1" max="100" class="slider" id="customRange2">
        </div>
        <div class="col-md-2 pl-0">
            <h6 class="text-custom-primary fs-04">
                40 Vote
            </h6>
        </div>
        <div class="col-md-1 pl-0">
            <span class="badge badge-pill badge-primary align-top fs-04">2 &nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="col-md-9">
            <input type="range" value="20" min="1" max="100" class="slider" id="customRange3">
        </div>
        <div class="col-md-2 pl-0">
            <h6 class="text-custom-primary fs-04">
                20 Vote
            </h6>
        </div>
        <div class="col-md-1 pl-0">
            <span class="badge badge-pill badge-primary align-top fs-04">3 &nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                Total Valid Vote: 960
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                View BreakDown
            </h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-custom-primary fs-05">
                Total Cancenled Vote: 562
            </h6>
        </div>

    </div>
</div>
