.dropdown .election-category-title {
    line-height: 1 !important;
    font-family: 'Inter' !important;
    font-weight: 700 !important;
    font-size: 14x !important;
    align-items: center !important;
    color: #FF6C88 !important;
    cursor: pointer;
}
.dropdown {
    border-bottom: 3px solid #FF6C88 !important;
}

::ng-deep .livefeed ul.p-tabview-nav li:first-child span {
    background-image: url(/assets/svgfortabs/video_call.svg) !important;
    background: no-repeat;
    padding-left: 40px;
    padding-right: 15px;
    background-size: 14px;
    font-size:12px !important;
  }
  ::ng-deep .livefeed ul.p-tabview-nav li:first-child {
    width: 33%;
  }
  ::ng-deep .livefeed ul.p-tabview-nav li:nth-child(2) span {
    background-image: url(/assets/svgfortabs/video_call.svg) !important;
    background: no-repeat;
    padding-left: 40px;
    padding-right: 15px;
    background-size: 15px;
    font-size:12px !important;
  }
  ::ng-deep .livefeed ul.p-tabview-nav li:nth-child(2) {
    width: 33%;
  }
  ::ng-deep .livefeed ul.p-tabview-nav li:nth-child(3) span {
    background-image: url(/assets/svgfortabs/local_pharmacy.svg) !important;
    background: no-repeat;
    padding-left: 40px;
    padding-right: 10px;
    background-size: 12px;
    font-size:12px !important;
  }
  ::ng-deep .livefeed ul.p-tabview-nav li:nth-child(3) {
    width: 33%;
  }

  .text-custom-danger {
    color: #FF6C88 !important;
}

.text-custom-primary {
    color: #6966FF !important;
}

::ng-deep .livefeed .p-tabview .p-tabview-panels {
    padding-left: 0rem;
    padding-right: 0rem;
    height: 33.6rem !important; 
    overflow-y: auto;
}

.virtual-scroll-viewport {
  height: 30.6rem !important;
}

.bg-livefeed-card {
  background-color: #FAFAFF !important;
}

.width-100{
  width: 100% !important;
}

.bg-custom-danger{
  background-color: #FF6C88 !important;
}