<!-- <div *ngIf="isLoading" [appLoading]="isLoading">
</div>
<p-table #dataTable dataKey="id" [value]="itemsData" [scrollable]="true" scrollHeight="400px"
    [(rows)]="row" (onPage)="paginate($event)" [first]="first" [rowsPerPageOptions]="[5,10,15,20]"
    [paginator]="true" [lazy]="false" rowExpandMode="single"  [globalFilterFields]="[
    'Warehouse',
    'AccessRequestBy'
  ]">
      <ng-template pTemplate="header" style="text-align: center;">

        <tr>
            <th class="gridheader" pSortableColumn="name">
                Name
                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th class="gridheader" pSortableColumn="warehouse">
                Warehouse
                <p-sortIcon field="warehouse"></p-sortIcon>
            </th>
            <th class="gridheader" pSortableColumn="acessrequestedby">Access Requested by
                <p-sortIcon field="acessrequestedby"></p-sortIcon>
            </th>
            <th class="gridheader" pSortableColumn="requestTime">
                Reqeust Time
                <p-sortIcon field="requestTime"></p-sortIcon>
            </th>
            <th class="gridheader" pSortableColumn="lockStatus">
                Lock Status
                <p-sortIcon field="lockStatus"></p-sortIcon>
            </th>
            <th class="gridheader" colspan="3">Granted By
                <table>
                    <tr>
                        <th  pSortableColumn="">Name
                        </th>
                        <th pSortableColumn="">Status
                        </th>
                        <th pSortableColumn="">Date/Time
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" style="color: white;" let-item let-expanded="expanded"
            let-rowIndex="rowIndex">
            <tr class="body-td" [pRowToggler]="item" [ngClass]="{
         'sub-table-even': rowIndex % 2 == 1,
         'sub-table-odd': rowIndex % 2 == 0}" (click)="onExpandRow(item)" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            <td style="border-left: 2px #213315 solid; word-break: break-all;">{{item.name}}</td>
            <td style="border-left: 2px #213315 solid; word-break: break-all;" field="name">
                {{item.Warehouse}}
            </td>
            <td style="border-left: 2px #213315 solid; word-break: break-all;">
                <img src="../../../assets/images/widget/small_profile.svg"
                style=" width: 20px;height: 20px;border-radius: 11px;">{{item.AccessRequestBy}}
            </td>
            <td style="border-left: 2px #213315 solid; word-break: break-all;">
             {{item.ReqeustTime | date: 'dd/MM/yyyy hh:mm a' }}
            </td>
            <td style="border-left: 2px #213315 solid; word-break: break-all;">
                <img src="../../../assets/images/widget/lockcheck.svg" style="width: 44%;">
            </td>
                <td style="font-size: 9px;border-left: 2px #213315 solid;font-weight: 700;" colspan="3">
                    <table>
                        <tbody>
                            <tr style="border-bottom: 2px solid #213315;">
                                <td style="text-align: center;padding: 2px;">
                                    <img src="../../../assets/images/widget/small_profile.svg"
                                        style=" width: 20px;height: 20px;border-radius: 11px;">  {{item.NameGrantedBy}}
                                </td>
                                <td style="border-left: 2px #213315 solid;text-align: center;padding: 2px;">
                                    <img src="../../../assets/images/widget/check_star.svg"
                                        style="height: 20px;">
                                </td>
                                <td style="border-left: 2px #213315 solid;text-align: center;padding: 2px;">
                                    {{item.creationDateTime | date}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;padding: 2px;">
                                    Colog
                                </td>
                                <td style="border-left: 2px #213315 solid;text-align: center;padding: 2px;">
                                    <img src="../../../assets/images/widget/single_star.svg"
                                        style="height: 20px;">
                                </td>
                                <td style="border-left: 2px #213315 solid;text-align: center;padding: 2px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-item>
        <tr style="background-color:transparent;">
            <td colspan="8">
                <div dataKey="id"  style="color: #eef0f8;">
                    <div class="row p-2">
                    <div class="col-md-1">
                        <p class="m-1" style="font-size:18px;">Access</p>
                    </div>
                    <div class="col-md-4">
                        <a (click)="ViewChange($event)" id="card"
                         [ngClass]="{'view-active': viewType == 1}" class="btn" style="color: white;border: 2px solid #405838;">All</a>
                        <a (click)="ViewChange($event)" class="btn "  [ngClass]="{'view-active': viewType == 2}" id="table" style="color: white; border: 2px solid #405838;"> User</a>
                        <a (click)="ViewChange($event)" class="btn "  [ngClass]="{'view-active': viewType == 2}" id="table" style="color: white; border: 2px solid #405838;"> Guest</a>
                    </div>
                    <div class="col-md-7" style="text-align: end;">
                        <span class="m-1" style="font-size:15px;">Import Access Users</span>&nbsp;
                        <span class="m-1" style="font-size:15px;">Import Access User</span>&nbsp;
                        <span class="m-1" style="font-size:15px;">Import Access Guest</span>
                    </div>
                </div>
                   <div class="row green-grid">
                       <div class="col-md-12 p-2 "  style="background:#213315;">
                    <p-table #dataTable3 dataKey="id" *ngIf="viewType==1" [value]="data"
                    rowExpandMode="single">
                <ng-template pTemplate="header" style="text-align: center;">
                  <tr>
                      <th class="gridheader2">Name</th>
                      <th class="gridheader2">Warehouse Name</th>
                      <th class="gridheader2">Access Requested By</th>
                      <th class="gridheader2">Requested At</th>
                      <th class="gridheader2">Granted By</th>
                      <th class="gridheader2">Access At</th>

                      <th class="gridheader2" >Duration</th>
                      <th class="gridheader2" >Task</th>
                  </tr>
                </ng-template>
                  <ng-template pTemplate="body" style="color: white;" let-variation let-expanded="expanded" let-rowIndex="rowIndex">
                      <tr class="body-td" [pRowToggler]="variation" role="button" aria-expanded="false"
                          aria-controls="collapseExample" >
                          <td  style="padding-left: 16px; border-left: 0px;">

                          </td>
                          <td class="border-green" style="text-align: center;">Import Access Users</td>
                          <td class="border-green" style="text-align: center;">
                            <img src="../../../assets/images/widget/small_profile.svg"
                            style=" width: 20px;height: 20px;border-radius: 11px;"> Major
                        Adereti Waqas
                       </td>
                          <td  class="border-green" style="text-align: center;">13-5-21
                          </td>
                          <td class="border-green" style="text-align: center;"><img src="../../../assets/images/widget/small_profile.svg"
                            style=" width: 20px;height: 20px;border-radius: 11px;"> Major
                        Adereti Waqas
                        </td>
                        <td class="border-green" style="text-align: center;">
                            13-5-21
                        </td>

                        <td style="font-size: 9px;font-weight: 700;">
                            6hours, 32min
                        </td>
                        <td style="font-size: 9px;font-weight: 700;">
                            <div class="col-md-12 ap-btn">
                                <span>Approved</span>
                            </div>
                        </td>
                      </tr>
                      </ng-template>
                   </p-table>
                   <div class="row p-4" *ngIf="viewType==2" style="justify-content: center;">


                   </div>
                </div>
                   </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="col-md-12 pt-4 pb-4" style="text-align: center;">
    <div>
        <svg width="787" height="23" viewBox="0 0 787 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="21.0514" y="7" width="746.516" height="9" fill="#585E34" />
            <rect x="21.0514" y="7" width="218.611" height="9" fill="#B7A643" />
            <path
                d="M21.0514 1.54983V21.4502C21.0514 22.8282 18.3626 23.5182 16.79 22.5439L0.731102 12.5937C-0.243701 11.9897 -0.243701 11.0103 0.731102 10.4063L16.79 0.456149C18.3626 -0.518283 21.0514 0.171862 21.0514 1.54983Z"
                fill="#B7A643" />
            <path
                d="M765.949 1.54983V21.4502C765.949 22.8282 768.637 23.5182 770.21 22.5439L786.269 12.5937C787.244 11.9897 787.244 11.0103 786.269 10.4063L770.21 0.456149C768.637 -0.518283 765.949 0.171862 765.949 1.54983Z"
                fill="#585E34" />
        </svg>
    </div>
</div> -->
