


<div class="parent">
    
    <div class="header">
        <h2 class="heading">Criminal Activity Stats</h2>
        <img src="../../../../assets/icon-after-headings.png" alt="icon-after-headings" class="icon-after-headings">
        </div>
        
    <div class="conatiner">

        <div class="search-bar d-flex align-items-center gap-2">
            <!-- <input type="text" placeholder="Search Category"> -->
      
<!-- 
            <div class="main-search-box">

            <div class="input-group">
                        <input type="search" id="form1" class="form-control" placeholder="Search Category" aria-label="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-white" type="button">
                                <i class="fa fa-search text-custom-danger"></i>
                            </button>
                        </span>
                        Aik mint main atta houn
                    </div>
                    
                    <div></div>
            </div> -->
            <div class="d-flex items-center mt-5">
                <input type="text" placeholder="Search" class="custom-input-field">
                <i class="fa fa-search text-custom-danger"></i>
            </div>
            <div class="">
            <button class="view-cart d-flex align-items-center justify-content-between">
                <img src="../../../../assets/chart.png" alt="chart" class="chart-image">
                <div class="view-text"> View:Cart </div>
                 <img src="../../../../assets/3dots.png" alt="3dots" class="dots-image">
               </button>
            </div>
            <div class="">
            <div class="icons">
                <img src="../../../../assets/radix-icons_update.png" alt="icon1">
                <img src="../../../../assets/el_print.png" alt="icon2">
                <img src="../../../../assets/akar-icons_download.png" alt="icon3">
            </div>
        </div>
    </div>
    </div>

        <div class="chart-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="list">
    
                        <div class="list-1">
                           <img src="../../../../assets/area_chart.png" alt="area_chart" class="area_chart">
                           <div class="text">4,000</div>
                           <div class="crime">Crime Reported</div>
                        </div>
            
                        <div class="list-2">
                            <div class="dot-green"></div>
                            <div class="text">3,000</div>
                            <div class="crime">Crimimal Arrested</div>
                         </div>
            
                         <div class="list-3">
                            <div class="dot"></div>
                            <div class="text">1000</div>
                            <div class="crime">Crimimal Sentenced</div>
                         </div>
            
                         <div class="list-4">
                            <div class="dot"></div>
                            <div class="text">8,000</div>
                            <div class="crime">911 calls-Suspisious Activity</div>
                         </div>
                    </div>
                           
                </div>
                <div class="col-md-9">
                    <div class="chart">
                    <h2 class="heading-2">Criminal Arrested</h2>
        
                    <div class="filter-data">

                        <button class="filter">Filters:<span class="region">Region(All), Crime(ALL)</span>
                            <img src="../../../../assets/3dots.png" alt="3dots" class="dots-image2">
                            </button>

                        <button class="year">Year</button>
                        <button class="month">Month</button>
                        <button class="day">Day</button>
                        <button class="week">Week</button>
                    </div>
                    
                    <div class="map-details">
                        <div class="theft">
                            <div class="rectangle-th"></div>
                            <div class="th-text">Theft</div>
                        </div>

                        
                        <div class="burglary">
                            <div class="rectangle-bur"></div>
                            <div class="th-text">burglary</div>
                        </div>

                        
                        <div class="robbery">
                            <div class="rectangle-rob"></div>
                            <div class="th-text">robbery</div>
                        </div>

                        <div class="shooting">
                            <div class="rectangle-sh"></div>
                            <div class="th-text">shooting</div>
                        </div>

                        <div class="other">
                            <div class="rectangle-ot"></div>
                            <div class="th-text">other</div>
                        </div>
                    </div>
                    <img src="../../../../assets/Dashboard/image 11.png" alt="chart" class="chart-image2">
            </div>
        </div>
            </div>
    
           
    
        </div>
    </div>
    
    </div>
    