


<div class="parent">
    
    <div class="header">
        <h2 class="heading">Criminal Activity Stats</h2>
        <img src="../../../../assets/icon-after-headings.png" alt="icon-after-headings" class="icon-after-headings">
        </div>
        
  
        <!-- SearcBAr -->
        <div class="container-fluid">
            <div class="row">
                <div class="search-bar-section">
        
                <div class="col-md-10 mt-5">
                <div class="col-md-6">
                    <div class="input-group d-flex">
                        <input type="search" id="form1" class="form-control" placeholder="Search Category" aria-label="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-default bg-white" type="button">
                                <i class="fa fa-search text-custom-danger"></i>
                            </button>
                        </span>
                        
                    </div>
                </div> 
                <div class="col-md-4">

                    <div class="dropdown2 p-2 pb-4 rescue-filter-dropdown d-flex">
                        <a
                            class="fs-07"
                            href="#"
                            role="button"
                            id="dropdownMenuLink"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            <span class="text-custom-danger mr-3 text-uppercase fs-09"><b>Sort By:year </b> </span>
                            <img src="/assets/Dashboard/Vector.png" width="15" class="float-right mt-1" />
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item bg-custom-dropdown" href="javascript:void(0)">
                                <span class="text-custom-danger text-uppercase"><b>Incident Type</b></span>
                            </a>
                            <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="RescueFilter"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="RescueFilter" class="rescue-filter-label">
                                    <span class="text-uppercase text-custom-danger font-bold">Sos </span>
                                </label>
                            </a>
                            <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="RescueFilter"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="RescueFilter" class="rescue-filter-label">
                                    <span class="text-uppercase text-custom-danger font-bold">Armed Robbery </span>
                                </label>
                            </a>
                            <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="RescueFilter"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="RescueFilter" class="rescue-filter-label">
                                    <span class="text-uppercase text-custom-danger font-bold">Huricane </span>
                                </label>
                            </a>
                            <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="RescueFilter"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="RescueFilter" class="rescue-filter-label">
                                    <span class="text-uppercase text-custom-danger font-bold">Vehicle Accident </span>
                                </label>
                            </a>
                            <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="RescueFilter"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="RescueFilter" class="rescue-filter-label">
                                    <span class="text-uppercase text-custom-danger font-bold">Fire Incident </span>
                                </label>
                            </a>
                            <a class="dropdown-item bg-custom-dropdown" href="javascript:void(0)">
                                <span class="text-custom-danger text-uppercase"><b>Incident Nature</b></span>
                            </a>
                            <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="RescueFilter"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="RescueFilter" class="rescue-filter-label">
                                    <span class="text-uppercase text-custom-danger font-bold">Mild </span>
                                </label>
                            </a>
                            <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="RescueFilter"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="RescueFilter" class="rescue-filter-label">
                                    <span class="text-uppercase text-custom-danger font-bold">Serious </span>
                                </label>
                            </a>
                            <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="RescueFilter"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="RescueFilter" class="rescue-filter-label">
                                    <span class="text-uppercase text-custom-danger font-bold">Harsh </span>
                                </label>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)" style="background: #fdfdfd">
                                <span class="text-custom-danger text-uppercase"><b>Priority Level</b></span>
                            </a>
                            <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="RescueFilter"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="RescueFilter" class="rescue-filter-label">
                                    <span class="text-uppercase text-custom-danger font-bold">Emergency </span>
                                </label>
                            </a>
                            <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="RescueFilter"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="RescueFilter" class="rescue-filter-label">
                                    <span class="text-uppercase text-custom-danger font-bold">Urgency </span>
                                </label>
                            </a>
                            <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                                <input
                                    type="checkbox"
                                    name="checkbox"
                                    class="checkbox_id"
                                    id="RescueFilter"
                                    style="width: 4px"
                                    value="value"
                                />
                                <label for="RescueFilter" class="rescue-filter-label">
                                    <span class="text-uppercase text-custom-danger font-bold">Quick </span>
                                </label>
                            </a>
                            <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                                <button class="btn btn-block btn-sm btn-custom-apply">
                                    <span class="text-uppercase text-custom-danger font-bold">Apply </span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
                <!-- <div class="col-md-6">
                    <div class="child01">
                        <input type="search" id="" class="" placeholder="Search" aria-label="Search" class="input"/>
                                    <button class="btn btn-default btn-white" type="button" class="sorting">
                                        <i class="fa fa-search text-custom-danger"></i>
                                        <div class="sort">|<span class="sort-by">sort by:</span> 
                                           <span class="week-tx">week</span> 
                                           <img src="../../../../assets/sort.png" alt="sort-image" class="sort-image">
                                        </div>
                                    </button>
                    </div>
                </div> -->
    
                <div class="col-md-2 mt-5">
                    <div class="child02">
                        <div class="d-flex align-items-center">
                            <button class="view-cart d-flex align-items-center justify-content-between">
                                <img src="../../../../assets/chart.png" alt="chart" class="chart-image">
                                <div class="view-text"> View:Cart </div>
                                 <img src="../../../../assets/3dots.png" alt="3dots" class="dots-image">
                               </button>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="icons">
                                    <img src="../../../../assets/radix-icons_update.png" alt="icon1">
                                    <img src="../../../../assets/el_print.png" alt="icon2">
                                    <img src="../../../../assets/akar-icons_download.png" alt="icon3">
                                </div>
                            </div>
                    </div>
     
    
            </div>
        </div>
    </div>
      

        <!-- End -->
        <div class="chart-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="list">
    
                        <div class="list-1">
                           <img src="../../../../assets/area_chart.png" alt="area_chart" class="area_chart">
                           <div class="text">4,000</div>
                           <div class="crime">Crime Reported</div>
                        </div>
            
                        <div class="list-2">
                            <div class="dot-green"></div>
                            <div class="text">3,000</div>
                            <div class="crime">Crimimal Arrested</div>
                         </div>
            
                         <div class="list-3">
                            <div class="dot"></div>
                            <div class="text">1000</div>
                            <div class="crime">Crimimal Sentenced</div>
                         </div>
            
                         <div class="list-4">
                            <div class="dot"></div>
                            <div class="text">8,000</div>
                            <div class="crime">911 calls-Suspisious Activity</div>
                         </div>
                    </div>
                           
                </div>
                <div class="col-md-9">
                    <div class="chart">
                    <h2 class="heading-2">Criminal Arrested</h2>
        
                    <div class="filter-data">

                        <button class="filter">Filters:<span class="region-text">Region(All), Crime(ALL)</span>
                            <img src="../../../../assets/3dots.png" alt="3dots" class="dots-image2">
                            </button>

                        <button class="year">Year</button>
                        <button class="month">Month</button>
                        <button class="day">Day</button>
                        <button class="week">Week</button>
                    </div>
                    
                    <div class="map-details">
                        <div class="theft">
                            <div class="rectangle-th"></div>
                            <div class="th-text">Theft</div>
                        </div>

                        
                        <div class="burglary">
                            <div class="rectangle-bur"></div>
                            <div class="th-text">burglary</div>
                        </div>

                        
                        <div class="robbery">
                            <div class="rectangle-rob"></div>
                            <div class="th-text">robbery</div>
                        </div>

                        <div class="shooting">
                            <div class="rectangle-sh"></div>
                            <div class="th-text">shooting</div>
                        </div>

                        <div class="other">
                            <div class="rectangle-ot"></div>
                            <div class="th-text">other</div>
                        </div>
                    </div>
                    <img src="../../../../assets/Dashboard/image 11.png" alt="chart" class="chart-image2">
            </div>
        </div>
            </div>
    
           
    
        </div>
    </div>
    
    </div>
    