<div class="incident">
    <p-tabView>
        <p-tabPanel header="INCIDENT LOCATION">
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col mr-6">
                            <div class="card bg-custom-location-card2 p-4">
                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <h6 class="text-custom-location-card2 font-bold">Fire</h6>
                                    </div>
                                    <div class="col-md-12">
                                        <img src="/assets/IncidentDashboard/fire.png" width="60">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col mr-6">
                            <div class="card bg-custom-location-card1 p-4">
                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <h6 class="text-custom-location-card1 font-bold">Theft</h6>
                                    </div>
                                    <div class="col-md-12">
                                        <img src="/assets/IncidentDashboard/armed.png" width="60">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col mr-6">
                            <div class="card bg-custom-location-card1 p-4">
                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <h6 class="text-custom-location-card1 font-bold">Attack</h6>
                                    </div>
                                    <div class="col-md-12">
                                        <img src="/assets/IncidentDashboard/sos.png" width="60">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col mr-6">
                            <div class="card bg-custom-location-card3 p-4">
                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <h6 class="text-custom-location-card3 font-bold">Accident</h6>
                                    </div>
                                    <div class="col-md-12">
                                        <img src="/assets/IncidentDashboard/accident.png" width="60">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col">
                            <div class="card bg-custom-location-card1 p-4">
                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <h6 class="text-custom-location-card1 font-bold">Hurricane</h6>
                                    </div>
                                    <div class="col-md-12">
                                        <img src="/assets/IncidentDashboard/hurricane.png" width="60">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 margin">
                    <input type="checkbox" id="GIS3" [(ngModel)]="GISMAP" (change)="MapTypeGoogleToGIS()" class="visually-hidden">
                    <div class="dropdown pb-2 pt-4 text-center d1">
                        <label for="GIS3">
                             <span class="election-category-title"><b>GIS</b>  
                                <i class="fas fa-external-link-alt text-custom-danger ml-3"></i>
                             </span>
                        </label>   
                    </div>                 
                </div>

                <div class="col-md-3 margin">
                    <input type="checkbox" id="MAP3" [(ngModel)]="GOOGLEMAP" (change)="MapTypeGISToGoogle()" class="visually-hidden">
                    <div class="dropdown pb-2 pt-4 text-center d2">
                        <label for="MAP3">
                             <span class="election-category-title"><b>GOOGLE MAP </b> 
                                <i class="fas fa-external-link-alt text-custom-danger ml-3"></i>
                             </span>
                        </label>   
                    </div>                 
                </div>
                
                <div class="col-md-7 text-right buttons btns">
                    <button class="location-sub-btn">
                        <img src="../../../../../assets/location sub button.png" alt="location"> 
                    </button>

                    <button class="clip-btn">
                        <img src="../../../../../assets/clip-btn.png" alt="clip-btn"> 
                    </button>

                    <button class="car-btn">
                        <img src="../../../../../assets/car-btn.png" alt="car-btn"> 
                    </button>

                    <button class="bus-btn">
                        <img src="../../../../../assets/bus-btn.png" alt="bus-btn"> 
                    </button>

                    <button class="run-btn">
                        <img src="../../../../../assets/run-btn.png" alt="run-btn"> 
                    </button>

                </div>
            </div>
            <div class="row" [hidden]="!GOOGLEMAP">
                <div id="incidentlocationmap" class="map-div mt-3"></div>
            </div>
            <app-esri-map [hidden]="!GISMAP"
            [center]="mapCenter"
            [basemap]="basemapType"
            [zoom]="mapZoomLevel"
            (mapLoadedEvent)="mapLoadedEvent($event)"
            >
            </app-esri-map>
        </p-tabPanel>
        <p-tabPanel header="INCIDENT NEWS"> </p-tabPanel>
        <p-tabPanel header="CUMUNITY INCIDENT"> </p-tabPanel>
        <p-tabPanel header="RESPONDER CREW"> </p-tabPanel>
    </p-tabView>
</div>
