<div class=" row profileHolder" style="padding: 10%;">
    <div class="col-md-12" style="text-align: center;">
    <img [src]="profilePicture"  class="profileImage">
   </div>
    <div class="col-md-12 profileForm pt-10" >
    <div class="col-md-12 font-7">
        <span class="c_heading">No</span>
        <span class="c_value">7876565</span>
        <!-- <label>NO: </label>
        <input class="text form-control"  type="text" placeholder=" 37392000" readonly/> -->
    </div>
    <div class="col-md-12 pt-2 font-7">
        <span class="c_heading">Name</span>
        <span class="c_value">{{userName}}</span>
        <!-- <label>Name: </label>
        <input class="text form-control text-input"  type="text" placeholder="" value="{{userName}}" readonly/> -->
    </div>
    <div class="col-md-12 pt-2 font-7">
        <span class="c_heading">Rank</span>
        <span class="c_value">Majer General</span>
        <!-- <label>Rank: </label>
        <input class="text form-control"  type="text" placeholder=" Majer General" readonly/> -->
    </div>
    </div >
    <br>
</div>
<div class="row">
<div class="col-md-12  pl-7 mb-5 ordinance">
    <div class="span p-6" (click)="menuHandler(1)" [ngClass]="_headerMenuservice.Activebtn == 'EQIS-OPAS' ? 'activebtnColor' : 'nonactivebtnColor'" style="cursor: pointer">
        <i class="fa fa-id-card iconImage mr-6" aria-hidden="true"></i>
        <em style="font-size: 0.9vw;">EQIS-OPAS</em>
    </div>
</div>
</div>
