

<div class="parent">
    <div class="header">
        <h2 class="heading">Responder TAble</h2>
        <img src="../../../../assets/icon-after-headings.png" alt="icon-after-headings" class="icon-after-headings">
        </div>

        <div class="container-fluid">
        <div class="row">
            <div class="search-bar-section">

            <div class="col-md-3">
                <button class="opn-incident-btn">
                    <h6 class="zero">0</h6>
                    <h6 class="open-text">Open Incident</h6>
                    <p class="out-of">Out of 3 Total incidents</p>
                </button>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <input type="search" id="form1" class="form-control" placeholder="Search Category" aria-label="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-default bg-white" type="button">
                            <i class="fa fa-search text-custom-danger"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2 pl-9">
                <div class="dropdown2 p-2 pb-4 rescue-filter-dropdown">
                    <a
                        class="fs-07"
                        href="#"
                        role="button"
                        id="dropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <span class="text-custom-danger mr-3 text-uppercase fs-09"><b>Sort By:Week </b> </span>
                        <img src="/assets/Dashboard/Vector.png" width="15" class="float-right mt-1" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item bg-custom-dropdown" href="javascript:void(0)">
                            <span class="text-custom-danger text-uppercase"><b>Incident Type</b></span>
                        </a>
                        <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                            <input
                                type="checkbox"
                                name="checkbox"
                                class="checkbox_id"
                                id="RescueFilter"
                                style="width: 4px"
                                value="value"
                            />
                            <label for="RescueFilter" class="rescue-filter-label">
                                <span class="text-uppercase text-custom-danger font-bold">Sos </span>
                            </label>
                        </a>
                        <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                            <input
                                type="checkbox"
                                name="checkbox"
                                class="checkbox_id"
                                id="RescueFilter"
                                style="width: 4px"
                                value="value"
                            />
                            <label for="RescueFilter" class="rescue-filter-label">
                                <span class="text-uppercase text-custom-danger font-bold">Armed Robbery </span>
                            </label>
                        </a>
                        <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                            <input
                                type="checkbox"
                                name="checkbox"
                                class="checkbox_id"
                                id="RescueFilter"
                                style="width: 4px"
                                value="value"
                            />
                            <label for="RescueFilter" class="rescue-filter-label">
                                <span class="text-uppercase text-custom-danger font-bold">Huricane </span>
                            </label>
                        </a>
                        <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                            <input
                                type="checkbox"
                                name="checkbox"
                                class="checkbox_id"
                                id="RescueFilter"
                                style="width: 4px"
                                value="value"
                            />
                            <label for="RescueFilter" class="rescue-filter-label">
                                <span class="text-uppercase text-custom-danger font-bold">Vehicle Accident </span>
                            </label>
                        </a>
                        <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                            <input
                                type="checkbox"
                                name="checkbox"
                                class="checkbox_id"
                                id="RescueFilter"
                                style="width: 4px"
                                value="value"
                            />
                            <label for="RescueFilter" class="rescue-filter-label">
                                <span class="text-uppercase text-custom-danger font-bold">Fire Incident </span>
                            </label>
                        </a>
                        <a class="dropdown-item bg-custom-dropdown" href="javascript:void(0)">
                            <span class="text-custom-danger text-uppercase"><b>Incident Nature</b></span>
                        </a>
                        <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                            <input
                                type="checkbox"
                                name="checkbox"
                                class="checkbox_id"
                                id="RescueFilter"
                                style="width: 4px"
                                value="value"
                            />
                            <label for="RescueFilter" class="rescue-filter-label">
                                <span class="text-uppercase text-custom-danger font-bold">Mild </span>
                            </label>
                        </a>
                        <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                            <input
                                type="checkbox"
                                name="checkbox"
                                class="checkbox_id"
                                id="RescueFilter"
                                style="width: 4px"
                                value="value"
                            />
                            <label for="RescueFilter" class="rescue-filter-label">
                                <span class="text-uppercase text-custom-danger font-bold">Serious </span>
                            </label>
                        </a>
                        <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                            <input
                                type="checkbox"
                                name="checkbox"
                                class="checkbox_id"
                                id="RescueFilter"
                                style="width: 4px"
                                value="value"
                            />
                            <label for="RescueFilter" class="rescue-filter-label">
                                <span class="text-uppercase text-custom-danger font-bold">Harsh </span>
                            </label>
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" style="background: #fdfdfd">
                            <span class="text-custom-danger text-uppercase"><b>Priority Level</b></span>
                        </a>
                        <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                            <input
                                type="checkbox"
                                name="checkbox"
                                class="checkbox_id"
                                id="RescueFilter"
                                style="width: 4px"
                                value="value"
                            />
                            <label for="RescueFilter" class="rescue-filter-label">
                                <span class="text-uppercase text-custom-danger font-bold">Emergency </span>
                            </label>
                        </a>
                        <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                            <input
                                type="checkbox"
                                name="checkbox"
                                class="checkbox_id"
                                id="RescueFilter"
                                style="width: 4px"
                                value="value"
                            />
                            <label for="RescueFilter" class="rescue-filter-label">
                                <span class="text-uppercase text-custom-danger font-bold">Urgency </span>
                            </label>
                        </a>
                        <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                            <input
                                type="checkbox"
                                name="checkbox"
                                class="checkbox_id"
                                id="RescueFilter"
                                style="width: 4px"
                                value="value"
                            />
                            <label for="RescueFilter" class="rescue-filter-label">
                                <span class="text-uppercase text-custom-danger font-bold">Quick </span>
                            </label>
                        </a>
                        <a class="dropdown-item pt-1 pb-1" href="javascript:void(0)">
                            <button class="btn btn-block btn-sm btn-custom-apply">
                                <span class="text-uppercase text-custom-danger font-bold">Apply </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="child01">
                    <input type="search" id="" class="" placeholder="Search" aria-label="Search" class="input"/>
                                <button class="btn btn-default btn-white" type="button" class="sorting">
                                    <i class="fa fa-search text-custom-danger"></i>
                                    <div class="sort">|<span class="sort-by">sort by:</span> 
                                       <span class="week-tx">week</span> 
                                       <img src="../../../../assets/sort.png" alt="sort-image" class="sort-image">
                                    </div>
                                </button>
                </div>
            </div> -->

            <div class="col-md-3">
            <div class="icons2">

                <button class="plus-btn">
                <img src="../../../../assets/akar-icons_plus.png" alt="akar-icons_plus">
                </button>

                <button class="edit-btn">
                    <img src="../../../../assets/akar-icons_edit.png" alt="akar-icons_edit">
                    </button>

                    <button class="update-btn">
                        <img src="../../../../assets/radix-icons_update.png" alt="radix-icons_update">
                        </button>

                        <button class="delete-btn">
                            <img src="../../../../assets/fluent_delete-24-regular.png" alt="delete-btn">
                            </button>

                            <button class="print-btn">
                                <img src="../../../../assets/el_print.png" alt="print-btn">
                                </button>

                                <button class="save-btn">
                                    <img src="../../../../assets/fluent_save-20-regular.png" alt="save-btn">
                                    </button>
                                    
                                    <button class="download-btn">
                                        <img src="../../../../assets/akar-icons_download.png" alt="download-btn">
                                        </button>
                
            </div>
        </div>

        </div>
    </div>
</div>


    <div class="btns-action">

        <button class="action-btn">
        <div class="action-text">Action</div>
        <img src="../../../../assets/3dots.png" alt="3dots" class="dots-img"> 
        </button>
    
        <div class="right-side-btns">
        <button class="all">All</button>
        <button class="pending">Pending</button>
        <button class="acknowledge">Acknowledge</button>
        <button class="resolved">Resolved</button>
        <button class="in-progress">In Progress</button>
        </div>

    </div>

    
   <!-- Table -->
    
   






<p-table [value]="products" [(selection)]="selectedProducts" dataKey="code" [tableStyle]="{'min-width': '50rem'}" class="my-table">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Type</th>
            <th>Date</th>
            <th>Control</th>
            <th>Sources</th>
            <th>Location</th>
            <th>Status</th>
            <th>SLA</th>
            <th>Report</th>
            <th>Geofence</th>
            <th>Priority</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>
                <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td>
                {{product.type}}<img *ngIf="product.image" [src]="product.image" alt="Product Image" width="20px" height="20px"
                style="background-color: black; padding: 2px; border-radius: 2px; margin-left: 5px;">
                </td>
                <td>{{product.date}}</td>
                <td>{{product.control}}</td>
                <td>{{product.source}}</td>
                <td>{{product.location}}</td>
                <td>{{product.status}}</td>
                <td>{{product.sla}}</td>
                <td>{{product.report}}</td>
                <td>{{product.geofence}}</td>
                <td>{{product.priority}}</td>
        </tr>
    </ng-template>
</p-table>
<!-- 
   <p-table [value]="products" [(selection)]="selectedProducts" dataKey="code" 
   [tableStyle]="{'min-width': '50rem'}" class="my-table">
   
       <ng-template pTemplate="header" class="table-header">
           <tr>
               <th style="width: 4rem">
                   <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
               </th>
               <th>Type</th>
               <th>Date</th>
               <th>Control</th>
               <th>Sources</th>
               <th>Location</th>
               <th>Status</th>
               <th>SLA</th>
               <th>Report</th>
               <th>Geofence</th>
               <th>Priority</th>
           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-product>
           <tr>
               <td>
                   <p-tableCheckbox [value]="product"></p-tableCheckbox>
               </td>
               <td>
               {{product.type}}<img *ngIf="product.image" [src]="product.image" alt="Product Image" width="20px" height="20px"
               style="background-color: black; padding: 2px; border-radius: 2px; margin-left: 5px;">
               </td>
               <td>{{product.date}}</td>
               <td>{{product.control}}</td>
               <td>{{product.source}}</td>
               <td>{{product.location}}</td>
               <td>{{product.status}}</td>
               <td>{{product.sla}}</td>
               <td>{{product.report}}</td>
               <td>{{product.geofence}}</td>
               <td>{{product.priority}}</td>
           </tr>
       </ng-template>
   </p-table>
   
    -->

</div>