
<!-- <button class="btn btn-sm btn block bg-custom-danger text-white">
    Filter <i class="fas fa-sm fa-ellipsis-v text-white ml-2"></i>
</button> -->
<!-- <div class="dropdown p-2 pb-4 analytics-sortbyparties-dropdown">
    <a class="btn btn-sm btn block bg-custom-danger text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter <i class="fas fa-sm fa-ellipsis-v text-white ml-2"></i>
    </a>                          
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" (click)="filterByLocalBoundries()">
        <span class="text-custom-danger text-uppercase">filter By Local Area Boundries</span>
      </a>
      <a class="dropdown-item" (click)="filterByStateBoundries()">
        <span class="text-custom-danger text-uppercase">filter By State Boundries</span>
      </a>
      <a class="dropdown-item" (click)="filterByWardBoundries()">
        <span class="text-custom-danger text-uppercase">filter By Wards Boundries</span>
      </a>
    </div>
</div> 
<div #mapViewNode id="mapViewNode"></div> -->
