<!-- <div class="asset-monitoring-grid access">
    <div class="attention">
        <h2 class="crit_req">Required Attention
            <label class="red_circle">{{getAttentionList.length}}</label>
        </h2>
    </div>
    <hr style="background:#FFF;">
    <div class="asset-monitoring-grid-table">
        <div *ngIf="isLoading" [appLoading]="isLoading">
        </div>
        <table *ngIf="!isLoading" class="table">
            <thead>
                <tr style="font-size: 15px;color: #3C5934;border: 0px transparent;/* margin-top: 35px; */">
                    <th style="text-decoration: underline;text-underline-offset: 5px; text-align: center;" *ngFor="let th of tablethead">
                        {{th}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of getAttentionList" style="font-size: 10px;border: 0px transparent;color: white;">
                    <td>
                        {{item.storeHouseForm.gateKeySerialNumber}}
                    </td>
                    <td>
                        {{getWarehouse(item.storeHouseForm.antennaWarehouseId)}}
                    </td>
                    <td>
                        {{item.storeHouseForm.purpose}}
                    </td>
                    <td>
                        {{item.storeHouseForm.remark}}
                    </td>
                    <td>
                        {{getuser(item.storeHouseForm.creatorUserId)}}
                    </td>
                    <td>
                        {{item.storeHouseForm.requestedDateTime | date: 'dd/MM/yyyy hh:mm a' }}
                    </td>
                    <td>
                        <form autocomplete="off" [formGroup]="actionForm" >
                        <div class="col-md-12 p-0 req-drpdown" *ngIf="CheckApproval(item)===0">
                            <p-dropdown [options]="actions" formControlName="action" (onChange)="actionEvent(item.storeHouseForm.id,$event.value)" name="action"  optionLabel="name" styleClass="form-control actiondropdown" optionValue="id"></p-dropdown>
                        </div>
                        <button href="" class="approve_btn" [disabled]="true" *ngIf="CheckApproval(item)===1">Approved</button>
                        <button href="" class="approve_btn" [disabled]="true" *ngIf="CheckApproval(item)===2">Rejected</button>
                    </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
