.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
background: linear-gradient(359.66deg, rgba(33, 51, 21, 0.9) -11.74%, rgba(183, 166, 67, 0.82) 111.45%);
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 10px;
}
.map-responsive agm-map{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}