


<div class="row mt-4">
    <div class="col-md-2 pl-0">
        <div class="dropdown-multiple">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-sm" data-target="#" href="#">
                <span class="dd-custom font-bold">Filters <span class="text-custom-dangerlight">(Lagos)</span> </span><i class="fas fa-ellipsis-v dd-custom ml-3"></i>
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu">
                    <a href="javascript:void(0)">City</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/pink.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Lagos
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/yellow.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Kanu
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/blue.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Abuja
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city4
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city5
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city6
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city7
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="javascript:void(0)">State</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/pink.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Lagos
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/yellow.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Kanu
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/blue.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Abuja
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city4
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city5
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city6
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                city7
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="javascript:void(0)">Ward</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/pink.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Ward1
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/yellow.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Ward2
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/blue.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Ward3
                            </a>
                        </li>
                        <li>
                            <a tabindex="-1" href="javascript:void(0)">
                                <img
                                    src="/assets/Dashboard/red.png"
                                    width="15"
                                    class="mr-3"
                                />
                                Resolved
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col text-right">
        <input
            type="checkbox"
            id="Location6"
            [(ngModel)]="Location"
            (change)="selectLocation()"
            class="visually-hidden"
        />
        <div class="dropdown p-1 text-center">
            <label for="Location6">
                <span class="text-custom-danger font-bold"><b>LOCATION</b> </span>
            </label>
        </div>
    </div>
    <div class="col text-right">
        <input
            type="checkbox"
            id="Video6"
            [(ngModel)]="Video"
            (change)="selectVideos()"
            class="visually-hidden"
        />
        <div class="dropdown p-1 text-center">
            <label for="Video6">
                <span class="text-custom-danger font-bold"><b>VIDEOS</b> </span>
            </label>
        </div>
    </div>
    <div class="col text-right"> 
        <input
            type="checkbox"
            id="News6"
            [(ngModel)]="News"
            (change)="selectNews()"
            class="visually-hidden"
        />
        <div class="dropdown p-1 text-center">
            <label for="News6">
                <span class="text-custom-danger font-bold"><b>NEWS</b> </span>
            </label>
        </div>
    </div>
    <div class="col text-right"> 
        <input
            type="checkbox"
            id="Images6"
            [(ngModel)]="Images"
            (change)="selectImages()"
            class="visually-hidden"
        />
        <div class="dropdown p-1 text-center">
            <label for="Images6">
                <span class="text-custom-danger font-bold"><b>Images</b> </span>
            </label>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-8 pl-0" [hidden]="!Location">
        <div class="row">
            <div class="col-md-2 pr-0">
                <input
                    type="checkbox"
                    id="GIS6"
                    [(ngModel)]="GISMAP"
                    (change)="MapTypeGoogleToGIS()"
                    class="visually-hidden"
                />
                <div class="dropdown pb-2 pt-4 text-center">
                    <label for="GIS6">
                        <span class="election-category-title"><b>GIS</b> </span>
                    </label>
                </div>
                <button class="btn btn-sm btn block bg-custom-danger text-white">
                    Filter <i class="fas fa-sm fa-ellipsis-v text-white ml-2"></i>
                </button>
            </div>
            <div class="col-md-2 pr-0">
                <input
                    type="checkbox"
                    id="MAP6"
                    [(ngModel)]="GOOGLEMAP"
                    (change)="MapTypeGISToGoogle()"
                    class="visually-hidden"
                />
                <div class="dropdown pb-2 pt-4 text-center">
                    <label for="MAP6">
                        <span class="election-category-title"><b>GOOGLE MAP </b> </span>
                    </label>
                </div>
            </div>
            <div class="col-md-3 pr-0">
                <input type="checkbox" id="Detail" class="visually-hidden" />
                <div class="dropdown pb-2 pt-4 text-center">
                    <label for="Detail">
                        <span class="election-category-title"
                            ><b>Detail </b>
                            <i class="fas fa-external-link-alt text-custom-danger ml-3"></i>
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-md-2 text-right mt-7 pr-0">
                <h6 class="text-custom-primary">Satellite</h6>
            </div>
            <div class="col-md-1 mt-7 pr-0">
                <div class="switch">
                    <input id="switch-1" type="checkbox" [(ngModel)]="satteliteSwitch" class="switch-input" />
                    <label for="switch-1" class="switch-label">Switch</label>
                </div>
            </div>
            <div class="col-md-1 text-right mt-7 pr-0">
                <h6 class="text-custom-primary">Map</h6>
            </div>
            <div class="col-md-1 mt-7 pl-2">
                <div class="switch">
                    <input id="switch-2" type="checkbox" [(ngModel)]="mapSwitch" class="switch-input" />
                    <label for="switch-2" class="switch-label">Switch</label>
                </div>
            </div>
        </div>
        <div class="" [hidden]="!GOOGLEMAP">
            <div id="map6" class="map-div"></div>
        </div>
        <app-esri-map
            [hidden]="!GISMAP"
            [center]="mapCenter"
            [basemap]="basemapType"
            [zoom]="mapZoomLevel"
            (mapLoadedEvent)="mapLoadedEvent($event)"
        >
        </app-esri-map>
    </div>
    <div class="col-md-4 pl-0 pr-0 mt-6" [hidden]="!Location">
        <div class="card">
            <div class="card-body p-2">
                <div class="row mb-4 ml-0">
                    <div class="col-5 pl-0 pr-1">
                        <div class="text-center dropdown pt-2 text-custom-danger mb-2">
                            <span class="election-category-title text-uppercase"
                                >USERS<i class="fas fa-sm fa-external-link-alt ml-1 text-custom-danger"></i
                            ></span>
                        </div>
                    </div>
                    <div class="col pl-1 pr-1">
                        <button class="btn btn-sm btn-block btn-outline-success br-25 p-2">Online</button>
                    </div>
                    <div class="col pl-1">
                        <button class="btn btn-sm btn-block btn-outline-danger br-25 p-2">Offline</button>
                    </div>
                </div>
                <div class="row pr-4 pl-3 pt-0 pb-0 card-with-scrol">
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="50" src="/assets/Dashboard/Ellipse-Activity.png" />
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="text-custom-primary fs-07 mb-1">Polling Unit Result Announcement
                                </h6>
                            </div>
                            <div class="col-md-12 pl-0 text-center">
                                <h6 class="text-custom-danger fs-07 mb-1">Location:Lagos, Nigeria
                                    <span class="text-custom-grey">Category: Image</span>
                                </h6>
                            </div>
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="fs-06 mb-1">Upload By: William at Nov,1,2022 </h6>
                            </div>                         
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.87793 0C2.11543 0 1.38416 0.316071 0.844998 0.87868C0.305831 1.44129 0.00292969 2.20435 0.00292969 3V18C0.00292969 18.7956 0.305831 19.5587 0.844998 20.1213C1.38416 20.6839 2.11543 21 2.87793 21H20.1279C20.8904 21 21.6217 20.6839 22.1609 20.1213C22.7 19.5587 23.0029 18.7956 23.0029 18V3C23.0029 2.20435 22.7 1.44129 22.1609 0.87868C21.6217 0.316071 20.8904 0 20.1279 0H2.87793ZM20.1279 1.5C20.5092 1.5 20.8748 1.65804 21.1444 1.93934C21.414 2.22064 21.5654 2.60218 21.5654 3V12.75L16.136 9.8295C16.0012 9.75904 15.8486 9.73459 15.6997 9.75963C15.5509 9.78466 15.4133 9.85791 15.3066 9.969L9.97343 15.534L6.14968 12.876C6.01162 12.7801 5.84602 12.737 5.68097 12.7539C5.51591 12.7709 5.36155 12.8468 5.24405 12.969L1.44043 16.5V3C1.44043 2.60218 1.59188 2.22064 1.86146 1.93934C2.13105 1.65804 2.49668 1.5 2.87793 1.5H20.1279Z" fill="#6751ED"/>
                                </svg>                                
                        </div>
                    </div> 
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="50" src="/assets/Dashboard/Ellipse-Political-Party.png" />
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="text-custom-primary fs-07 mb-1">Polling Unit Balot Misplacement
                                </h6>
                            </div>
                            <div class="col-md-12 pl-0 text-center">
                                <h6 class="text-custom-danger fs-07 mb-1">Location:Lagos, Nigeria
                                    <span class="text-custom-grey">Category: Image</span>
                                </h6>
                            </div>
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="fs-06 mb-1">Upload By: William at Nov,1,2022 </h6>
                            </div>                         
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.8182 4.6H13.5382L17.1273 0.8165L16.3636 0L12 4.6L7.63636 0L6.86182 0.8165L10.4618 4.6H2.18182C1.60316 4.6 1.04821 4.84232 0.63904 5.27365C0.22987 5.70499 0 6.29 0 6.9V20.7C0 21.965 0.981818 23 2.18182 23H21.8182C23.0182 23 24 21.965 24 20.7V6.9C24 6.29 23.7701 5.70499 23.361 5.27365C22.9518 4.84232 22.3968 4.6 21.8182 4.6ZM21.8182 20.7H2.18182V6.9H21.8182V20.7ZM8.72727 9.2V18.4L16.3636 13.8L8.72727 9.2Z" fill="#6751ED"/>
                                </svg>                                                               
                        </div>
                    </div>
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="50" src="/assets/Dashboard/Ellipse-Activity.png" />
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="text-custom-primary fs-07 mb-1">Polling Unit Result Announcement
                                </h6>
                            </div>
                            <div class="col-md-12 pl-0 text-center">
                                <h6 class="text-custom-danger fs-07 mb-1">Location:Lagos, Nigeria
                                    <span class="text-custom-grey">Category: Image</span>
                                </h6>
                            </div>
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="fs-06 mb-1">Upload By: William at Nov,1,2022 </h6>
                            </div>                         
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.87793 0C2.11543 0 1.38416 0.316071 0.844998 0.87868C0.305831 1.44129 0.00292969 2.20435 0.00292969 3V18C0.00292969 18.7956 0.305831 19.5587 0.844998 20.1213C1.38416 20.6839 2.11543 21 2.87793 21H20.1279C20.8904 21 21.6217 20.6839 22.1609 20.1213C22.7 19.5587 23.0029 18.7956 23.0029 18V3C23.0029 2.20435 22.7 1.44129 22.1609 0.87868C21.6217 0.316071 20.8904 0 20.1279 0H2.87793ZM20.1279 1.5C20.5092 1.5 20.8748 1.65804 21.1444 1.93934C21.414 2.22064 21.5654 2.60218 21.5654 3V12.75L16.136 9.8295C16.0012 9.75904 15.8486 9.73459 15.6997 9.75963C15.5509 9.78466 15.4133 9.85791 15.3066 9.969L9.97343 15.534L6.14968 12.876C6.01162 12.7801 5.84602 12.737 5.68097 12.7539C5.51591 12.7709 5.36155 12.8468 5.24405 12.969L1.44043 16.5V3C1.44043 2.60218 1.59188 2.22064 1.86146 1.93934C2.13105 1.65804 2.49668 1.5 2.87793 1.5H20.1279Z" fill="#6751ED"/>
                                </svg>                                
                        </div>
                    </div> 
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="50" src="/assets/Dashboard/Ellipse-Political-Party.png" />
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="text-custom-primary fs-07 mb-1">Polling Unit Balot Misplacement
                                </h6>
                            </div>
                            <div class="col-md-12 pl-0 text-center">
                                <h6 class="text-custom-danger fs-07 mb-1">Location:Lagos, Nigeria
                                    <span class="text-custom-grey">Category: Image</span>
                                </h6>
                            </div>
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="fs-06 mb-1">Upload By: William at Nov,1,2022 </h6>
                            </div>                         
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.8182 4.6H13.5382L17.1273 0.8165L16.3636 0L12 4.6L7.63636 0L6.86182 0.8165L10.4618 4.6H2.18182C1.60316 4.6 1.04821 4.84232 0.63904 5.27365C0.22987 5.70499 0 6.29 0 6.9V20.7C0 21.965 0.981818 23 2.18182 23H21.8182C23.0182 23 24 21.965 24 20.7V6.9C24 6.29 23.7701 5.70499 23.361 5.27365C22.9518 4.84232 22.3968 4.6 21.8182 4.6ZM21.8182 20.7H2.18182V6.9H21.8182V20.7ZM8.72727 9.2V18.4L16.3636 13.8L8.72727 9.2Z" fill="#6751ED"/>
                                </svg>                                                               
                        </div>
                    </div>
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="50" src="/assets/Dashboard/Ellipse-Activity.png" />
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="text-custom-primary fs-07 mb-1">Polling Unit Result Announcement
                                </h6>
                            </div>
                            <div class="col-md-12 pl-0 text-center">
                                <h6 class="text-custom-danger fs-07 mb-1">Location:Lagos, Nigeria
                                    <span class="text-custom-grey">Category: Image</span>
                                </h6>
                            </div>
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="fs-06 mb-1">Upload By: William at Nov,1,2022 </h6>
                            </div>                         
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.87793 0C2.11543 0 1.38416 0.316071 0.844998 0.87868C0.305831 1.44129 0.00292969 2.20435 0.00292969 3V18C0.00292969 18.7956 0.305831 19.5587 0.844998 20.1213C1.38416 20.6839 2.11543 21 2.87793 21H20.1279C20.8904 21 21.6217 20.6839 22.1609 20.1213C22.7 19.5587 23.0029 18.7956 23.0029 18V3C23.0029 2.20435 22.7 1.44129 22.1609 0.87868C21.6217 0.316071 20.8904 0 20.1279 0H2.87793ZM20.1279 1.5C20.5092 1.5 20.8748 1.65804 21.1444 1.93934C21.414 2.22064 21.5654 2.60218 21.5654 3V12.75L16.136 9.8295C16.0012 9.75904 15.8486 9.73459 15.6997 9.75963C15.5509 9.78466 15.4133 9.85791 15.3066 9.969L9.97343 15.534L6.14968 12.876C6.01162 12.7801 5.84602 12.737 5.68097 12.7539C5.51591 12.7709 5.36155 12.8468 5.24405 12.969L1.44043 16.5V3C1.44043 2.60218 1.59188 2.22064 1.86146 1.93934C2.13105 1.65804 2.49668 1.5 2.87793 1.5H20.1279Z" fill="#6751ED"/>
                                </svg>                                
                        </div>
                    </div> 
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="50" src="/assets/Dashboard/Ellipse-Political-Party.png" />
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="text-custom-primary fs-07 mb-1">Polling Unit Balot Misplacement
                                </h6>
                            </div>
                            <div class="col-md-12 pl-0 text-center">
                                <h6 class="text-custom-danger fs-07 mb-1">Location:Lagos, Nigeria
                                    <span class="text-custom-grey">Category: Image</span>
                                </h6>
                            </div>
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="fs-06 mb-1">Upload By: William at Nov,1,2022 </h6>
                            </div>                         
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.8182 4.6H13.5382L17.1273 0.8165L16.3636 0L12 4.6L7.63636 0L6.86182 0.8165L10.4618 4.6H2.18182C1.60316 4.6 1.04821 4.84232 0.63904 5.27365C0.22987 5.70499 0 6.29 0 6.9V20.7C0 21.965 0.981818 23 2.18182 23H21.8182C23.0182 23 24 21.965 24 20.7V6.9C24 6.29 23.7701 5.70499 23.361 5.27365C22.9518 4.84232 22.3968 4.6 21.8182 4.6ZM21.8182 20.7H2.18182V6.9H21.8182V20.7ZM8.72727 9.2V18.4L16.3636 13.8L8.72727 9.2Z" fill="#6751ED"/>
                                </svg>                                                               
                        </div>
                    </div>
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="50" src="/assets/Dashboard/Ellipse-Activity.png" />
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="text-custom-primary fs-07 mb-1">Polling Unit Result Announcement
                                </h6>
                            </div>
                            <div class="col-md-12 pl-0 text-center">
                                <h6 class="text-custom-danger fs-07 mb-1">Location:Lagos, Nigeria
                                    <span class="text-custom-grey">Category: Image</span>
                                </h6>
                            </div>
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="fs-06 mb-1">Upload By: William at Nov,1,2022 </h6>
                            </div>                         
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.87793 0C2.11543 0 1.38416 0.316071 0.844998 0.87868C0.305831 1.44129 0.00292969 2.20435 0.00292969 3V18C0.00292969 18.7956 0.305831 19.5587 0.844998 20.1213C1.38416 20.6839 2.11543 21 2.87793 21H20.1279C20.8904 21 21.6217 20.6839 22.1609 20.1213C22.7 19.5587 23.0029 18.7956 23.0029 18V3C23.0029 2.20435 22.7 1.44129 22.1609 0.87868C21.6217 0.316071 20.8904 0 20.1279 0H2.87793ZM20.1279 1.5C20.5092 1.5 20.8748 1.65804 21.1444 1.93934C21.414 2.22064 21.5654 2.60218 21.5654 3V12.75L16.136 9.8295C16.0012 9.75904 15.8486 9.73459 15.6997 9.75963C15.5509 9.78466 15.4133 9.85791 15.3066 9.969L9.97343 15.534L6.14968 12.876C6.01162 12.7801 5.84602 12.737 5.68097 12.7539C5.51591 12.7709 5.36155 12.8468 5.24405 12.969L1.44043 16.5V3C1.44043 2.60218 1.59188 2.22064 1.86146 1.93934C2.13105 1.65804 2.49668 1.5 2.87793 1.5H20.1279Z" fill="#6751ED"/>
                                </svg>                                
                        </div>
                    </div> 
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="50" src="/assets/Dashboard/Ellipse-Political-Party.png" />
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="text-custom-primary fs-07 mb-1">Polling Unit Balot Misplacement
                                </h6>
                            </div>
                            <div class="col-md-12 pl-0 text-center">
                                <h6 class="text-custom-danger fs-07 mb-1">Location:Lagos, Nigeria
                                    <span class="text-custom-grey">Category: Image</span>
                                </h6>
                            </div>
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="fs-06 mb-1">Upload By: William at Nov,1,2022 </h6>
                            </div>                         
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.8182 4.6H13.5382L17.1273 0.8165L16.3636 0L12 4.6L7.63636 0L6.86182 0.8165L10.4618 4.6H2.18182C1.60316 4.6 1.04821 4.84232 0.63904 5.27365C0.22987 5.70499 0 6.29 0 6.9V20.7C0 21.965 0.981818 23 2.18182 23H21.8182C23.0182 23 24 21.965 24 20.7V6.9C24 6.29 23.7701 5.70499 23.361 5.27365C22.9518 4.84232 22.3968 4.6 21.8182 4.6ZM21.8182 20.7H2.18182V6.9H21.8182V20.7ZM8.72727 9.2V18.4L16.3636 13.8L8.72727 9.2Z" fill="#6751ED"/>
                                </svg>                                                               
                        </div>
                    </div>
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="50" src="/assets/Dashboard/Ellipse-Activity.png" />
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="text-custom-primary fs-07 mb-1">Polling Unit Result Announcement
                                </h6>
                            </div>
                            <div class="col-md-12 pl-0 text-center">
                                <h6 class="text-custom-danger fs-07 mb-1">Location:Lagos, Nigeria
                                    <span class="text-custom-grey">Category: Image</span>
                                </h6>
                            </div>
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="fs-06 mb-1">Upload By: William at Nov,1,2022 </h6>
                            </div>                         
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.87793 0C2.11543 0 1.38416 0.316071 0.844998 0.87868C0.305831 1.44129 0.00292969 2.20435 0.00292969 3V18C0.00292969 18.7956 0.305831 19.5587 0.844998 20.1213C1.38416 20.6839 2.11543 21 2.87793 21H20.1279C20.8904 21 21.6217 20.6839 22.1609 20.1213C22.7 19.5587 23.0029 18.7956 23.0029 18V3C23.0029 2.20435 22.7 1.44129 22.1609 0.87868C21.6217 0.316071 20.8904 0 20.1279 0H2.87793ZM20.1279 1.5C20.5092 1.5 20.8748 1.65804 21.1444 1.93934C21.414 2.22064 21.5654 2.60218 21.5654 3V12.75L16.136 9.8295C16.0012 9.75904 15.8486 9.73459 15.6997 9.75963C15.5509 9.78466 15.4133 9.85791 15.3066 9.969L9.97343 15.534L6.14968 12.876C6.01162 12.7801 5.84602 12.737 5.68097 12.7539C5.51591 12.7709 5.36155 12.8468 5.24405 12.969L1.44043 16.5V3C1.44043 2.60218 1.59188 2.22064 1.86146 1.93934C2.13105 1.65804 2.49668 1.5 2.87793 1.5H20.1279Z" fill="#6751ED"/>
                                </svg>                                
                        </div>
                    </div> 
                    <div class="row pt-2 mb-2 ml-1 custom-agent-card">
                        <div class="col-md-2 pl-1">
                            <img class="br-50" width="50" src="/assets/Dashboard/Ellipse-Political-Party.png" />
                        </div>
                        <div class="col-md-8 pl-0 pr-0">
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="text-custom-primary fs-07 mb-1">Polling Unit Balot Misplacement
                                </h6>
                            </div>
                            <div class="col-md-12 pl-0 text-center">
                                <h6 class="text-custom-danger fs-07 mb-1">Location:Lagos, Nigeria
                                    <span class="text-custom-grey">Category: Image</span>
                                </h6>
                            </div>
                            <div class="col-md-12 pr-0 text-center">
                                <h6 class="fs-06 mb-1">Upload By: William at Nov,1,2022 </h6>
                            </div>                         
                            
                        </div>
                        <div class="col-md-2 pl-0 text-right vertical-center">
                            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.8182 4.6H13.5382L17.1273 0.8165L16.3636 0L12 4.6L7.63636 0L6.86182 0.8165L10.4618 4.6H2.18182C1.60316 4.6 1.04821 4.84232 0.63904 5.27365C0.22987 5.70499 0 6.29 0 6.9V20.7C0 21.965 0.981818 23 2.18182 23H21.8182C23.0182 23 24 21.965 24 20.7V6.9C24 6.29 23.7701 5.70499 23.361 5.27365C22.9518 4.84232 22.3968 4.6 21.8182 4.6ZM21.8182 20.7H2.18182V6.9H21.8182V20.7ZM8.72727 9.2V18.4L16.3636 13.8L8.72727 9.2Z" fill="#6751ED"/>
                                </svg>                                                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 pl-0" [hidden]="!Video">
        <div class="row">
            <div class="col-md-8">
                <vg-player>
                    <vg-overlay-play></vg-overlay-play>
                    <vg-buffering></vg-buffering>
                
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>
                
                    <vg-controls>
                        <vg-play-pause></vg-play-pause>
                        <vg-playback-button></vg-playback-button>
                
                        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                
                        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                
                        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                
                        <vg-track-selector></vg-track-selector>
                        <vg-mute></vg-mute>
                        <vg-volume></vg-volume>
                
                        <vg-fullscreen></vg-fullscreen>
                    </vg-controls>
                    <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                        <source src="{{maingalleryVideo.contentLink}}" type="video/mp4">
                    </video>
                </vg-player>
                <div class="col-md-2 mt-3">
                    <button class="btn btn-primary btn-block">
                        <span><marquee direction="left" class="" scrolldelay="600" behavior="loop">{{maingalleryVideo.electionWardName}}</marquee></span>
                    </button>
                </div>
                <div class="col-md-5">
                    <h6 class="fs-10">{{maingalleryVideo.electionPollingUnitName}}</h6>
                </div>
                <div class="col-md-5">
                    <h6 class="fs-07">Uploaded by : {{maingalleryVideo.userName}}</h6>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2"><i class="fa fa-search text-custom-danger"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <h6 class="fs-09 mt-3">Scrol to View More</h6>
                </div>
                <div class="col-md-1">
                    <i class="fa fa-arrow-up text-custom-primary"></i>
                    <i class="fa fa-arrow-down text-custom-primary"></i>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary ml-2">Tag 1</button>
                        <button type="button" class="btn btn-primary ml-2">Tag 2</button>
                        <button type="button" class="btn btn-primary ml-2">Tag 3</button>
                      </div>
                </div>
                <div class="col-md-12 mt-3 custom-height">
                    <div class="row" *ngFor="let item of electionGalleryVideoResult">
                        <div class="col-md-12">
                            <vg-player>
                                <vg-overlay-play></vg-overlay-play>
                                <vg-buffering></vg-buffering>
                            
                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                </vg-scrub-bar>
                            
                                <vg-controls>
                                    <vg-play-pause></vg-play-pause>
                                    <vg-playback-button></vg-playback-button>
                            
                                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                            
                                    <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                            
                                    <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                            
                                    <vg-track-selector></vg-track-selector>
                                    <vg-mute></vg-mute>
                                    <vg-volume></vg-volume>
                            
                                    <vg-fullscreen></vg-fullscreen>
                                </vg-controls>
                                <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                                    <source src="{{item.contentLink}}" type="video/mp4">
                                </video>
                            </vg-player>
                        </div>
                        <div class="col-md-6 mt-3">
                            <button class="btn btn-primary btn-block" (click)="selectMainGalleryVideo(item)">
                                <span><marquee direction="left" class="" scrolldelay="600" behavior="loop">{{item.electionWardName}}</marquee></span>
                            </button>
                        </div>
                        <div class="col-md-6 mt-3 pl-0 pr-0">
                            <h6 class="font-08">{{item.electionPollingUnitName}}</h6>
                        </div>
                        <div class="col-md-12 mt-3">
                            <h6 class="fs-07 pr-0">Uploaded By: {{item.userName}}</h6>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="col-md-12 pl-0" [hidden]="!News">
        <div class="row">
            <div class="col-md-8">
                <div id="videoFrameContainer">
                    <iframe id='fp_embed_player' [src]="maingalleryNews.contentLink | safe" onerror="this.location.reload();" marginwidth='0' width="100%" marginheight='0' frameborder='0' scrolling='no' allowfullscreen='allowfullscreen'></iframe>
                </div>
                <div class="col-md-2 mt-3">
                    <button class="btn btn-primary btn-block">
                        <span><marquee direction="left" class="" scrolldelay="600" behavior="loop">{{maingalleryNews.electionWardName}}</marquee></span>
                    </button>
                </div>
                <div class="col-md-5">
                    <h6 class="fs-10">{{maingalleryNews.electionPollingUnitName}}</h6>
                </div>
                <div class="col-md-5">
                    <h6 class="fs-07">Uploaded by : {{maingalleryNews.userName}}</h6>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2"><i class="fa fa-search text-custom-danger"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <h6 class="fs-09 mt-3">Scrol to View More</h6>
                </div>
                <div class="col-md-1">
                    <i class="fa fa-arrow-up text-custom-primary"></i>
                    <i class="fa fa-arrow-down text-custom-primary"></i>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary ml-2">Tag 1</button>
                        <button type="button" class="btn btn-primary ml-2">Tag 2</button>
                        <button type="button" class="btn btn-primary ml-2">Tag 3</button>
                      </div>
                </div>
                <div class="col-md-12 mt-3 custom-height">
                    <div class="row" *ngFor="let item of electionGalleryLiveResult">
                        <div class="col-md-12">
                            <div id="videoFrameContainer">
                                <iframe id='fp_embed_player' [src]="item.contentLink | safe" onerror="this.location.reload();" marginwidth='0' width="100%" marginheight='0' frameborder='0' scrolling='no' allowfullscreen='allowfullscreen'></iframe>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <button class="btn btn-primary btn-block" (click)="selectMainGalleryNews(item)">
                                <span><marquee direction="left" class="" scrolldelay="600" behavior="loop">{{item.electionWardName}}</marquee></span>
                            </button>
                        </div>
                        <div class="col-md-6 mt-3 pl-0 pr-0">
                            <h6 class="font-08">{{item.electionPollingUnitName}}</h6>
                        </div>
                        <div class="col-md-12 mt-3">
                            <h6 class="fs-07 pr-0">Uploaded By: {{item.userName}}</h6>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-12 pl-0" [hidden]="!Images">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <img src="{{maingalleryImage.contentLink}}" class="width-100">
                </div>
                <div class="col-md-2 mt-3">
                    <button class="btn btn-primary btn-block">
                        <span><marquee direction="left" class="" scrolldelay="600" behavior="loop">{{maingalleryImage.electionWardName}}</marquee></span>
                        
                    </button>
                </div>
                <div class="col-md-5 mt-3">
                    <h6 class="fs-08">{{maingalleryImage.electionPollingUnitName}}</h6>
                </div>
                <div class="col-md-5 mt-3">
                    <h6 class="fs-08">Uploaded by : {{maingalleryImage.userName}}</h6>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2"><i class="fa fa-search text-custom-danger"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <h6 class="fs-09 mt-3">Scrol to View More</h6>
                </div>
                <div class="col-md-1">
                    <i class="fa fa-arrow-up text-custom-primary"></i>
                    <i class="fa fa-arrow-down text-custom-primary"></i>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary ml-2">Tag 1</button>
                        <button type="button" class="btn btn-primary ml-2">Tag 2</button>
                        <button type="button" class="btn btn-primary ml-2">Tag 3</button>
                      </div>
                </div>
                <div class="col-md-12 mt-3 custom-height">
                    <div class="row" *ngFor="let item of electionGalleryImageResult">
                        <div class="col-md-12">
                            <img src="{{item.contentLink}}" class="width-100">
                        </div>
                        <div class="col-md-6 mt-3">
                            <button class="btn btn-primary btn-block" (click)="selectMainGalleryImage(item)">
                                <span><marquee direction="left" class="" scrolldelay="600" behavior="loop">{{item.electionWardName}}</marquee></span>
                                
                            </button>
                        </div>
                        <div class="col-md-6 mt-3 pl-0 pr-0">
                            <h6 class="font-08">{{item.electionPollingUnitName}}</h6>
                        </div>
                        <div class="col-md-12 mt-3">
                            <h6 class="fs-07 pr-0">Uploaded By: {{item.userName}}</h6>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- jQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
