@import url(https://fonts.googleapis.com/css?family=Lato);

.createform{
    width: 493.83px;
height: 430px;

backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 10px;
}

.control-label {
    color: #B8B874;
    display: inline-block;
    font-size: 12px;
    /* text-transform:uppercase;*/
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 16px;
    padding: 0 0px;
    pointer-events: none;
    background: #828148;
    transition: all 300ms ease;
    transform: translateY(-21px);
    /*font-style: italic;*/
    font-weight: 500;

}
