


<div class="parent">
    <div class="header">
        <h2 class="heading">Exibits</h2>
        <img src="../../../../assets/icon-after-headings.png" alt="icon-after-headings" class="icon-after-headings">
        </div>

    
            <div class="btns">
                
                <button class="b1">
                    <img src="../../../../assets/video_call.png" alt="local_pharmacy" class="video_call">   
                    Videos</button>

                <button class="b2">
                    <img src="../../../../assets/video_call.png" alt="local_pharmacy" class="video_call">     
                    Videos</button>

                <button class="b3">
                    <img src="../../../../assets/local_pharmacy.png" alt="local_pharmacy" class="local_pharmacy">
                Files</button>
            </div>
        
        
    
         <img src="../../../../assets/2.png" alt="splash" class="splash-image">

         <div class="kano">
         <button class="kano-btn">Kano </button>
         <span class="text">Murder Attempt of poilitical Leaderof Labour Party</span>
        </div>

        <div class="uploaded">
            <div class="up-by">uploaded By: William S.</div>
            <div class="timestamp">Timestamp, 2021, Nov 21</div>
        </div>

        <button class="watch">Watch</button>
</div>