<!-- <script src="../../../assets/9556cd6744b0b19628598270bd385082cda6a269.js"></script> -->
<link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
/>

<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
></script>

<!-- owl slider -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>

<aside class="admin-sidebar br-right">
    <div class="admin-sidebar-brand">
        <div class="ml-auto">
            <a
                href="#"
                (click)="ChangeStyle()"
                [ngStyle]="status ? { color: 'red' } : { color: '#7966FF' }"
                class="admin-pin-sidebar"
                ><span class="fas fa-map-pin fs-18"></span
            ></a>
            <a href="#" class="admin-close-sidebar"></a>
        </div>
    </div>
    <div class="admin-sidebar-wrapper js-scrollbar">
        <ul class="menu" style="padding-left: 5px">
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">ELECTION INFORMATION </span>
                    </span>
                    <span class="menu-icon br-50">
                        <img src="../../../assets/SideNavBarVector/ElectionInformation].png" />
                    </span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">VOTER LIST</span>
                    </span>
                    <span class="menu-icon br-50">
                        <img src="../../../assets/SideNavBarVector/VotersList.png" />
                    </span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">CANDIDATES</span>
                    </span>
                    <span class="menu-icon br-50">
                        <img src="../../../assets/SideNavBarVector/Candidates.png" />
                    </span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">AGENTS</span>
                    </span>
                    <span class="menu-icon br-50">
                        <img src="../../../assets/SideNavBarVector/Agents.png" />
                    </span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">POLLING UNITS</span>
                    </span>
                    <span class="menu-icon br-50">
                        <img src="../../../assets/SideNavBarVector/PollingUnit.png" />
                    </span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">RESULTS</span>
                    </span>
                    <span class="menu-icon br-50">
                        <img src="../../../assets/SideNavBarVector/ResultsVector.png" />
                    </span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">LIVE</span>
                    </span>
                    <span class="menu-icon br-50">
                        <img src="../../../assets/SideNavBarVector/Live.png" />
                    </span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">ADMIN</span>
                    </span>
                    <span class="menu-icon br-50">
                        <img src="../../../assets/SideNavBarVector/Admin.png" />
                    </span>
                </a>
            </li>
        </ul>
    </div>
</aside>
