<!-- <p-dialog header="Add Delivery Receipt" [(visible)]="displayResponsive" style="color: #FFF; font-size:30px">
   <div style="width:500px">
       <form autocomplete="off" [formGroup]="createStoreReleaseDispatch" class="createform" style="padding: 20px;">
       <div class="row">

                   <div class="col-sm-6">
                       <label class="form-label">drsNumber</label>
                       <input type="text" formControlName="drsNumber" class="form-control" />
                       <span class="text-danger ml-3" *ngIf="isValid(createStoreReleaseDispatch.controls.drsNumber)">
                           This field is required</span>
                   </div>
                   <div class="col-sm-6">
                       <label class="form-label">cosignor</label>
                       <input type="text" formControlName="cosignor" id="cosignor" class="form-control" />
                       <span class="text-danger ml-3" *ngIf="isValid(createStoreReleaseDispatch.controls.cosignor)">
                           This field is required</span>
                   </div>
               </div>            
           
       <hr>
       <div class="row">
         <div class="col-sm-6">
            <label class="form-label">haulierReference</label>
            <input type="text" formControlName="haulierReference" class="form-control" />
            <span class="text-danger ml-3" *ngIf="isValid(createStoreReleaseDispatch.controls.haulierReference)">
                This field is required</span>
        </div>
        <div class="col-sm-6">
            <label class="form-label">lorryNumber</label>
            <input type="text" formControlName="lorryNumber" id="lorryNumber" class="form-control" />
            <span class="text-danger ml-3" *ngIf="isValid(createStoreReleaseDispatch.controls.lorryNumber)">
                This field is required</span>
        </div>
       </div>
       <hr>
       <div class="row">
         <div class="col-sm-6">
            <label class="form-label">wagonNumber</label>
            <input type="text" formControlName="wagonNumber" class="form-control" />
            <span class="text-danger ml-3" *ngIf="isValid(createStoreReleaseDispatch.controls.wagonNumber)">
                This field is required</span>
        </div>
        <div class="col-sm-6">
            <label class="form-label">sealNumber</label>
            <input type="text" formControlName="sealNumber" id="sealNumber" class="form-control" />
            <span class="text-danger ml-3" *ngIf="isValid(createStoreReleaseDispatch.controls.sealNumber)">
                This field is required</span>
        </div>
       </div>
       <br>
       <div class="row">
           
           <div class="col" >
               <div style="float: right;">
                   <button type="button" class="btn dangers" (click)="close()">Cancel</button>
                   <button type="submit" class="btn primary1"  [disabled]="issubmitted" (click)="submit()">{{btnText}}</button>
               </div>
           </div>
       </div>
       </form>
   </div>
</p-dialog>

 -->
